
@model RhemaCMS.Models.ViewModels.vm_cl.ChurchCalendarModel

@{
    ViewData["Title"] = (!string.IsNullOrEmpty(ViewBag.AppName) ? ViewBag.AppName : "") + " - Church Calendar";
}

@if (Model != null)
{
    <body id="page-top" class="hold-transition sidebar-mini-md sidebar-toggled layout-fixed w-100">
        @{
            var _oCBId = Model.oChurchBodyId != null ? (int)Model.oChurchBodyId : -1;
            var _oAGOId = Model.oAppGloOwnId != null ? (int)Model.oAppGloOwnId : -1;
        }

        @*<input type="hidden" asp-for="@Model.setIndex" id="_setIndex" />
            <input type="hidden" asp-for="@Model.oChurchBodyId_Logged" id="_oChurchBody_Logged" />
            <input type="hidden" asp-for="@Model.oAppGlolOwnId_Logged" id="_oAppGloOwnId_Logged" />
            <input type="hidden" asp-for="@Model.oUserId_Logged" id="_oUserId_Logged" />*@


        @*<input type="hidden" id="_oSetIndex" data-value="@Model.setIndex" />
            <input type="hidden" id="_oAppGloOwnId_Logged" data-value="@Model.oAppGloOwnId_Logged" />
            <input type="hidden" id="_oChurchBodyId_Logged" data-value="@Model.oChurchBodyId_Logged" />
            <input type="hidden" id="_oUserId_Logged" data-value="@Model.oUserId_Logged" />*@



        <div class="wrapper" id="divSetupMain">

            <div class="content-header border-bottom mb-3 pb-0">
                <div class="row m-0">
                    <div class="col-sm">
                        <h5> Church Calendar (Global view) </h5>
                    </div>
                    <div class="col-sm-4">
                        <ol class="breadcrumb float-sm-right" style="list-style-type: none;">
                            @*<li>
                                <a role="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Church Calendar"
                                   asp-controller="ChurchCalendar" asp-action="IndexCM_SUM" asp-route-oCBid="@Model.oChurchBodyId">
                                    <i class="fas fa-list text-dark mr-1"></i>
                                </a>
                            </li>*@

                            <li>
                            <a role="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Reload data"
                               asp-controller="ChurchCalendar" asp-action="Index_CCE" asp-route-reqChurchBodyId="@Model.oChurchBodyId" >
                                <i class="fas fa-refresh text-dark mr-1"></i>
                            </a>
                        </li>
                        </ol>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="container mt-2 mb-2">
                    <div class="col-md">
                        @*@{ var strDesc = '"' +  "Church Calendar" + '"'; }*@

                        <div class="card col-md-12 border shadow-sm" id="section-cce">
                            <div class="card-header pl-1 pr-1 border-bottom-0">
                                @*style="width:100%; border-bottom: 2px solid #b7b5b5;"
                            &nbsp;&nbsp; *@
                                <span class="title text-primary"> <i class="fas fa-calendar-day fa-lg text-black-50 mr-2"></i> Church Calendar </span>
                                @{ var _strHeader = !string.IsNullOrEmpty(Model.strChurchBody) ? "  - " + Model.strChurchBody : ""; }
                                <span id="_strHeader" class="text-black-50 text-sm"> @_strHeader </span>

                                <button type="button" class="btn btn-outline-primary  border float-right"
                                        onclick="AddEditCurrData_CCE(0, @_oCBId, 'C', '[New Event]')">
                                    <i class="fas fa-edit text-primary"></i> <span class="text-sm"> Add New Event </span>
                                </button>
                            </div>
                            <div class="card-body mt-1 p-2 pt-0">
                                @*<div class="card-body card-outline p-0">*@
                                <ul class="nav nav-tabs p-0" id="cl-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="cl-upr-tab" data-toggle="pill" href="#cl-upr" role="tab" aria-controls="cl-upr" aria-selected="true">
                                            <i class="fas fa-list text-primary mr-1"></i>
                                            <span class="text-md" style="color: #000"> Events Line-up </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="cl-upg-tab" data-toggle="pill" href="#cl-upg" role="tab" aria-controls="cl-upg" aria-selected="false">
                                            <i class="fa fa-calendar-alt mr-1" style="color: tomato"></i>
                                            <span class="text-md" style="color: #000"> Calendar Grid </span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content pt-4" id="cl-rg-tabContent">
                                    <div id="cl-upr" class="tab-pane fade show active" role="tabpanel" aria-labelledby="cl-upr-tab">
                                        <div id="divTabData_CCE" class="overlay-wrapper">
                                            @{ await Html.RenderPartialAsync("_vwIndex_CCE", Model); }
                                        </div>
                                    </div>
                                    <div id="cl-upg" class="tab-pane fade" role="tabpanel" aria-labelledby="cl-upg-tab">
                                        <div class="card-header" style="background-color: coral;  ">
                                            <i class="fas fa-calendar-alt text-md mr-2" style="color:lightyellow"></i> 
                                            <span style="color: black; font-weight: bold">Church Planner &amp; Task Management</span>
                                            <span class="text-light ml-3"> Church programs, member related events and reminders </span>
                                        </div>
                                        <div id="calendar" class="overlay-wrapper mb-1 ">

                                        </div>
                                    </div>
                                </div>
                                @*</div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @*<div class="modal fade" id="divPopModal_AddEdit" tabindex="-1" role="dialog" aria-labelledby="_modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable " role="document" style="max-height: 60%;">
                <div class="modal-content">
                    <div class="modal-header bg-teal">
                        <h5 class="modal-title"> Editing: </h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div id="divModalBody_AddEdit" class="modal-body bg-light" style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 10pt">
                    </div>
                    <div class="modal-footer " style="background-color: lightgrey; left:auto; right: auto">
                        <a role="button" class="btn btn-outline-light " data-dismiss="modal"> <span class="text-sm "> Cancel </span> </a>

                        <button id="btnSaveChanges" type="submit" class="btn btn-outline-dark border-0 shadow-sm float-right" style="background-color: lightskyblue">
                            <i class="fas fa-database mr-1"></i> <span class="text-bold"> Save changes </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>*@

            <div class="modal fade" id="divPopModal_AddEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document"
                     style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:medium; width:auto ; height:auto; padding: 2px; max-height: 75%;">
                    <div class="modal-content">
                        <div class="modal-header " style="color:#000; background-color: tomato  ">
                            @*style="background-color: lightgrey;*@
                            <h6 class="modal-title"> Church Calendar </h6>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div id="divModalBody_AddEdit" class="modal-body bg-light" style=" font-size: 10pt; ">

                        </div>
                        <div id="_divFooterCommit" class="modal-footer " style="background-color:   lightgrey; left:auto; right: auto">
                            <a href="#" class="btn btn-outline-light " data-dismiss="modal"> Cancel </a>
                            <button id="btnSaveChanges" type="button" class="btn btn-light save-data"><i class="fa fa-database "></i> Save changes </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="eventModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header" style="color:#000; background-color: tomato  ">
                            <button type="button" class="close" data-dismiss="modal"> &nbsp;</button>
                            <h4 class="modal-title text-md">
                                <span id="eventTitle"></span>
                            </h4>
                        </div>
                        <div class="modal-body text-md">
                            <p id="pDetails"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default border" data-dismiss="modal"> <i class="fas fa-times fa-lg text-danger "></i> </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>

}


<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>


    <script>

        $(function () {
            $('[data-toggle="popover"]').popover()
        })

        $(document).ready(function () {

            let anchorlinks = document.querySelectorAll('a[href^="#section"]')

            for (let item of anchorlinks) { // relitere
                item.addEventListener('click', (e) => {
                    let hashval = item.getAttribute('href')
                    let target = document.querySelector(hashval)
                    target.scrollIntoView({
                        behavior: 'smooth',
                        block: 'start'
                    })
                    history.pushState(null, null, hashval)
                    e.preventDefault()
                })
            }

        });



        $(document).ready(function () {

            $('#smartwizard').smartWizard({
                selected: 0,
                theme: 'dots',
                autoAdjustHeight: true,
                transitionEffect: 'fade',
                showStepURLhash: false,

            });
        });





        var DisplaySuccessInfo = function (msg, reload = false) {

            $.alert({
                title: 'Done!',
                type: 'green',
                typeAnimated: true,
                content: msg,
                closeIcon: true,
                closeIconClass: 'fa fa-close'
            });

        };

        var DisplayErrorInfo = function (msg, reload = false) {

            $.alert({
                title: 'Oops!',
                type: 'red',
                typeAnimated: true,
                content: msg,
                closeIcon: true,
                closeIconClass: 'fa fa-close'
            });

        };


        var DisplaySuccessInfo_Reload_CM = function (msg, reload = false, resetNew = false, _setIndex = 6, _subSetIndex = 1, _currCMCode = '') {   //currSubSetIndex,  proScope, subScope,

            // alert('success.. reload: ' + reload);

            $.alert({
                title: 'Done!',
                type: 'green',
                icon: 'success',
                content: '<span style="color:#000">' + msg + '<span>',
                html: true,
                background: 'green',
                typeAnimated: true,
                // closeIcon: false,
                closeIconClass: 'fa fa-close',
                buttons: {
                    ok: function () {
                        if (reload) {
                            ReloadCurrPage_CM(_setIndex, _subSetIndex, _currCMCode);
                        }

                        //if (resetNew == true) {
                        //    AddEditCurrData_CM(0, '', valCMCode,'', 1); //(0, currDenomId, currChuBodyId, currSetIndex, currSubSetIndex, _desc);
                        //}
                        //else {
                        //    $("#divPopModal_AddEdit .close").click();
                        //}
                    }
                }
            });

            //if (reload) {
            //    ReloadCurrPage();   //, currSubSetIndex , proScope, subScope
            //}
        };

        var DisplayErrorInfo_Reload_CM = function (msg, reload = false, _setIndex = 6, _subSetIndex = 1, _currCMCode = '') {
            //  alert('fail.. reload: ' + reload);

            $.alert({
                title: 'Oops!',
                type: 'red',
                //icon: 'fail',
                content: '<span style="color:#000">' + msg + '<span>',
                html: true,
                background: 'red',
                typeAnimated: true,
                //closeIcon: true,
                closeIconClass: 'fa fa-close',
                buttons: {
                    ok: function () {
                        if (reload) {
                            ReloadCurrPage_CM(_setIndex, _subSetIndex, _currCMCode);
                        }
                    }
                }
            });

        };

    </script>


    <!-- _CCE  no ADD, no DEL, only EDIT -->
    <script>

        $(function () {
            if ($.fn.dataTable.isDataTable('#tabData_CCE')) {
                $('#tabData_CCE').DataTable();
            }
            else {
                $('#tabData_CCE').DataTable({
                    "responsive": true,
                    "autoWidth": false,
                    //"paging": true,
                    //"lengthChange": false,
                    "searching": true,
                    //  "orderable": true,
                    //"info": true,
                    "order": [],
                    "columnDefs": [{
                        "targets": [0, 7],
                        "orderable": false,
                    }]
                });
            }
        });


        var AddEditCurrData_CCE = function (currId, currChuBodyId, _strLongevity = 'C', _strItemName = '') {
                    //alert('addORedit...');

                    if (currId < 0) currId = null;
                   // if (currDenomId < 0) currDenomId = null;
                    if (currChuBodyId < 0) currChuBodyId = null;
                   // if (currSetIndex < 0) currSetIndex = null;

                    //var currAGOId_Logged = $("#_oAppGloOwnId_Logged").data("value");
                    //var currCBId_Logged = $("#_oChurchBodyId_Logged").data("value");
                    //var currUserId_Logged = $("#_oUserId_Logged").data("value");


            //  public IActionResult AddOrEdit_CCE(int id = 0, int? oCurrChuBodyId = null, string strLongevity = "C")
            var url = "@Url.Action("AddOrEdit_CCE", "ChurchCalendar")?id=" + currId + "&oCurrChuBodyId=" + currChuBodyId + "&strLongevity=" + _strLongevity;


            // alert(url)  // if (currId > 0) { document.querySelector('#btnSaveChanges_CCE').innerHTML = 'Update'; }

            if (currId > 0)
            { document.querySelector('#btnSaveChanges').innerHTML = '<i class="fas fa-database text-bold mr-1"></i> Update';}

            $('#divPopModal_AddEdit').modal({
                backdrop: 'static',
                keyboard: false
            });


            $('#divPopModal_AddEdit .modal-dialog').draggable({
                handle: ".modal-header"
            });

            //alert('loading modal...')
            $('#divPopModal_AddEdit .modal-body').load(url, function () {

                $('#divPopModal_AddEdit .modal-title').html(_strItemName);


                $("#divPopModal_AddEdit").modal('show');
            });
        };


        var ReloadCurrPage_CCE = function (currDenomId = null, currChuBodyId = null, currAttendTask = 1 ) {
            // alert('load..');
           // window.location.href = '/ChurchCalendar/Index?oDenomId=' + currDenomId + '&oCurrChuBodyId=' + currChuBodyId + '&setIndex=' + currSetIndex + '&subSetIndex=' + currSubSetIndex + '&oParentId=' + parId; // + '&oChuCategId=' + chuCategId + '&oShowAllCong=' + showAllCong;


            //   public IActionResult Index_CCE(int currAttendTask = 1, int? reqChurchBodyId = null)
            var url = '@Url.Action("Index_CCE", "ChurchCalendar")?currAttendTask=' + currAttendTask + '&reqChurchBodyId=' + currChuBodyId + '&loadLim=true';


           // alert(url)
            $('#divTabData_CCE').load(url, function () {
                if ($.fn.dataTable.isDataTable('#tabData_CCE')) {
                    $('#tabData_CCE').DataTable();
                }
                else {
                    $('#tabData_CCE').DataTable({
                        "responsive": true,
                        "autoWidth": false,
                        //"paging": true,
                        //"lengthChange": false,
                        "searching": true,
                        //  "orderable": true,
                        //"info": true,
                        "order": [],
                        "columnDefs": [{
                            "targets": [0, 7],
                            "orderable": false,
                        }]
                    });
                }
            });

        }

        $(document).on('click', '#btnSaveChanges', function (e) {
            e.preventDefault();

            //  alert('click..');
            const form = document.getElementById("currForm_CCE");
            //alert('val 4 .. ' + form.checkValidity())

            if (form.checkValidity() === true) {

                SaveCurr_CCE(); //currSetIndex, currSubSetIndex);
            }
            else {
                // alert('val 5')
                event.preventDefault();
                event.stopPropagation();

                form.classList.add('was-validated');
            }
        })

        var SaveCurr_CCE = function () { // (currSetIndex, currSubSetIndex) {
            //    alert('save... ');

             var currFormData = new FormData($("#currForm_CCE").get(0));
                // var currFormData = $("#currForm_CCE").serialize();
               // alert('save... submitting...');

                $.ajax({
                    type: 'POST',
                    // data: formdata,
                    // processData: false,

                    url: '@Url.Action("AddOrEdit_CCE", "ChurchCalendar")',

                   // url: "/ChurchCalendar/AddOrEdit_CCE",
                    data: currFormData,   //{ data: currFormData, taskIndx: oTask },  //
                    //contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    contentType: false,
                    processData: false,
                    success: function (res) {

                        if (res.taskSuccess == true) {

                            var currChuBodyId = $("#_hdnChuBodyId").val();
                            var currDenomId = $("#_hdnAppGloOwnId").val();

                            // var ReloadCurrPage_CCE = function (currDenomId = null, currChuBodyId = null, currAttendTask = 1 )
                            ReloadCurrPage_CCE(currDenomId, currChuBodyId, 1);   //currId... via AJAX...

                            // var ures = confirm("Add new member?");

                            //alert($('#btnSaveChanges').text())

                           // if ($('#btnSaveChanges').text().includes('Save')) {  // newly added...
                               // alert('adding new...')
                               $.confirm({
                                    title: 'Done!',
                                    content: res.userMess,
                                    type: 'green',
                                    typeAnimated: true,
                                    closeIcon: true,
                                    closeIconClass: 'fa fa-close',
                                    ///
                                    buttons: {
                                        ok: function () {
                                           // AddEditCurrData_CCE(res.currCBId, res.currId, res.memDispName);

                                            if (res.resetNew == true) {
                                                //var currChuBodyId = $("#_hdnChuBodyId").val();
                                                //var currDenomId = $("#_hdnAppGloOwnId").val();
                                                AddEditCurrData_CCE(0, currDenomId, currChuBodyId, 1, '[New Event]');
                                            }
                                            else {
                                                $("#divPopModal_AddEdit .close").click();
                                            }
                                        }
                                    }
                               });

                           // }

                            //else {   // update..
                            //   // alert('updating...')
                            //    DisplaySuccessInfo(res.userMess);
                            //    $("#divPopModal_AddEdit .close").click();
                            //}
                        }

                        else //if (res.taskSuccess == false)
                        {

                            DisplayErrorInfo(res.userMess);
                        }
                    }
                })

        }

        var DeleteCurrData_CCE = function (currId, currChuBodyId, currSetIndex = 1, delConfirm = false, msg = "") {
            // alert('DEL.. ' + currId + ' __ indx: ' + currSetIndex + 'delConfirm: ' + delConfirm);

            //  if (delConfirm == null) { delConfirm = false; }

            //alert('DEL.. ' + currId + ' __ indx: ' + currSetIndex + 'delConfirm: ' + delConfirm);
            var oAppGloId = null;

            $.confirm({
                title: 'Confirm delete!',
                content: (msg == '' ? 'Are you sure you want to delete the specified item ': msg) + ' ?',
                type: 'red',
                typeAnimated: true,
                buttons: {
                    cancel: function () {
                        //$.alert('Canceled!');
                    },
                    //info: {
                    //    btnClass: 'btn-blue',
                    //    action: function(){}
                    //},
                    delete: {
                        btnClass: 'btn-danger ',
                        action: function () {
                            $.ajax({
                                type: 'POST',
                                url: "/ChurchCalendar/Delete_CCE",
                                data: { id: currId, setIndex: currSetIndex, delConfirmed: delConfirm },
                                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                                success: function (res) {
                                    if (res.taskSuccess == true) {
                                        //var currChuBodyId = $("#_hdnChuBodyId").val();
                                        DisplaySuccessInfo(res.userMess, oAppGloId, currChuBodyId, currSetIndex);

                                        //ReloadCurrPage_CNFG(oAppGloId, currChuBodyId, currSetIndex);
                                        // var ReloadCurrPage_CCE = function (currDenomId = null, currChuBodyId = null, currAttendTask = 1 )
                                        ReloadCurrPage_CCE(oAppGloId, currChuBodyId, 1);   //currId... via AJAX...
                                    }
                                    else {
                                        // alert(res.userMess);
                                        if (currSetIndex == 1 && !delConfirm) {
                                            DeleteCurrData_CCE(currId, currChuBodyId, currSetIndex, true, res.userMess);
                                        }
                                        else {
                                            //alert(res.userMess);
                                            $.alert({
                                                title: 'Delete failed!',
                                                content: 'Could not delete specified record(s). Please try again.',
                                            });
                                        }
                                    }
                                },
                                error: function () {
                                    alert("Error occured while deleting data");
                                }
                            });
                        }
                    },

                    //,
                }
            });

        };

    </script>


    <script>
        $(document).on('change', '#chk_IsFullDay', function (e) {
            e.preventDefault();
            var _isAvail = $("#chk_IsFullDay").is(":checked");     // alert('chk: ' + _isAvail);
           // $('#chk_IsDeceased').prop('disabled', _isAvail);
            $('#_divEventTo').prop('hidden', _isAvail);

          // if ($("#chk_IsDeceased").is(":disabled")) { $('#chk_IsDeceased').prop('checked', false) };
            if ($("#_divEventTo").is(":hidden")) { $("#_EventTo").val('');  };
        })


        $(document).on('change', '#_oActivityTypeId', function (e) {
            e.preventDefault();
         //   alert('...');
         var actvType = $("#_oActivityTypeId").val();

          //  alert('actvType: ' + actvType);
            var churchBodyId = $("#_hdnChuBodyId").val();
           // alert('churchBodyId: ' + churchBodyId);
            var url = '@Url.Content("~/")' + 'ChurchCalendar/GetChurchActivityByType';
            $('#_ChurchLifeActivityId').empty();

             //   $('#tblAttendees_MemEditBody').html('');
                //   public JsonResult GetChurchActivityByType(int oCurrChuBodyId, string typeCode = null, bool addEmpty = false)
            $.getJSON(url, { oCurrChuBodyId: churchBodyId, typeCode: actvType, addEmpty: true }, function (data) {

                if (Object.keys(data).length > 0) {
                    //alert('> 0');
                    var items = '';
                        $.each(data, function (i, oData) {
                            items += "<option value='" + oData.value + "'>" + oData.text + "</option>";
                            //alert(items);
                        });
                        // items += "<option value=''> Select </option>";
                  //  alert(items);
                    $('#_ChurchLifeActivityId').html(items);
                    }
            });


     });

    </script>



    <script>
        $(document).ready(function () {
            // alert('draw cal...');

            //refresh the activity list
            $('#_oActivityTypeId').change();

            var churchBodyId = $("#_hdnChuBodyId").val();
            // alert('churchBodyId: ' + churchBodyId);
            var _events = new Array(); //[];

            //  var events = [];
            // public JsonResult GetEvents(int? oCurrChuBodyId = null)
            $.ajax({
                type: "GET",
                url: "/ChurchCalendar/GetEvents",
                data: { oCurrChuBodyId: churchBodyId }, //JSON.stringify(events),
                cache: false,
                success: function (events) {
                    //  alert('success');

                    //     _events.push({
                    //     title: 'Christmas Day',
                    //     description: 'event 1',
                    //     start: '2019-12-25', //moment(new Date()),
                    //     end: null, // moment('2010-12-27'), //v.EventTo != null ? moment(v.EventTo) : null,
                    //     color: 'yellow',
                    //     allDay: 'true'
                    //});

                    //_events.push({
                    //    title: 'Sam & Uni anniversary',
                    //    description: 'Sam Darteh anniversary',
                    //    start: '2019-12-21', //moment(new Date()),
                    //    end: null, // moment('2010-12-27'), //v.EventTo != null ? moment(v.EventTo) : null,
                    //    color: 'red',
                    //    allDay: 'true'
                    //});

                    //_events.push({
                    //    title: 'Joyce 27th Birthday',
                    //    description: '',
                    //    start: '2020-07-04', //moment(new Date()),
                    //    end: null, // moment('2010-12-27'), //v.EventTo != null ? moment(v.EventTo) : null,
                    //    color: 'pink',
                    //    allDay: 'true'
                    //});

                    //alert(_events.length);
                    //GenerateCalendar(_events);

                    $.each(events, function (i, v) {
                        //  alert('subject: ' + events[i].subject + '; from: ' + v.eventFrom + '; to: ' + v.eventTo + '; color: ' + v.themeColor + '; allday: ' + v.isFullDay);
                        _events.push(
                            {
                                title: v.subject, 
                                strEventFullDesc: v.strEventFullDesc,
                                start: moment(v.eventFrom),
                                end: v.eventTo != null ? moment(v.eventTo) : null,
                                color: v.themeColor,
                                allDay: v.isFullDay
                            }
                        );
                    });

                    //  alert(_events.length);   description: v.eventFullDesc,
                    GenerateCalendar(_events);

                },
                error: function (error) {
                    alert('failed...');
                }
            })



            function GenerateCalendar(events) {
                // alert('draw the cal...');

                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    contentHeight: 500,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        // alert('call 2');

                        $('#eventModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');

                        $description.append($('<p/>').html('<span class="text-left text-md"><b> Start: </b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a") + '</span>'));

                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<span class="text-left text-md"><b> End: </b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a") + '</span>'));
                        }

                        if (calEvent.$description != null && calEvent.$description != '') {
                            $description.append($('<p/>').html('<span class="text-left text-md"><b> Description: </b>' + calEvent.description + '</span>'));
                        }
                       // alert($description)

                        $('#eventModal #pDetails').empty().html($description);

                        //jQuery.noConflict();
                        $("#eventModal").modal();
                    }
                })
            }

        })
    </script>




}







