@model  RhemaCMS.Models.ViewModels.vm_app_ven.UserProfileModel

@*@{   IMAGE OF BANNER OR ..
        var photoPath = "~/images/" + (Model.oPersonalData.PhotoUrl ?? "df_user_p.png");
    }*@


<div id="divModalContainer" class="jumbotron-fluid shadow-none form-group justify-content-center" style="width: 90%; margin: 0px auto 10px auto ; padding:0;  ">

    <form needs-validation bg-transparent p-2" novalidate id="currForm_UP" method="post" enctype="multipart/form-data" asp-action="AddOrEdit_UP" class=" form-group bg-transparent"
          style="margin-top:0px; padding-left: 3px; padding-right:3px;   ">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="oUserProfile.Id" id="_hdnCurrId_UP" />

        @*<input type="hidden" asp-for="oUserProfile.ChurchBodyId" id="_hdnChurchBodyId" />
        <input type="hidden" asp-for="oUserProfile.AppGlobalOwnerId" id="_AppGloOwnId" />*@

        <input type="hidden" asp-for="oUserProfile.strChurchCode_CB" />
        <input type="hidden" asp-for="oUserProfile.ProfileScope" />
        @*<input type="hidden" asp-for="oUserProfile.ProfileLevel" />*@
        <input type="hidden" asp-for="oUserProfile.UserScope" />
        <input type="hidden" asp-for="oUserProfile.IsChurchMember" />
        @*<input type="hidden" asp-for="oUserProfile.UserId" />*@
        <input type="hidden" asp-for="oUserProfile.OwnerUserId" />


        @* retain details ... pwd stuff has diff view *@
        <input type="hidden" asp-for="oUserProfile.UserKey" />
        <input type="hidden" asp-for="oUserProfile.Pwd" />
        <input type="hidden" asp-for="oUserProfile.PwdExpr" />
        <input type="hidden" asp-for="oUserProfile.PwdSecurityQue" />
        <input type="hidden" asp-for="oUserProfile.PwdSecurityAns" />
        @*<input type="hidden" asp-for="oUserProfile.ResetPwdOnNextLogOn" />*@

        <input type="hidden" asp-for="oUserProfile.Created" />
        <input type="hidden" asp-for="oUserProfile.LastMod" />
        <input type="hidden" asp-for="oUserProfile.CreatedByUserId" />
        <input type="hidden" asp-for="oUserProfile.LastModByUserId" />

        <input type="hidden" asp-for="@Model.numCLIndex" id="_numCLIndex" />
        <input type="hidden" asp-for="@Model.oCBLevelCount" id="_oCBLevelCount" />
        <input type="hidden" asp-for="@Model.setIndex" id="_setIndex" />
        <input type="hidden" asp-for="@Model.subSetIndex" id="_subSetIndex" />

        <input type="hidden" asp-for="@Model.oChurchBodyId_Logged" id="_oChurchBody_Logged" />
        <input type="hidden" asp-for="@Model.oAppGloOwnId_Logged" id="_oAppGloOwnId_Logged" />
        <input type="hidden" asp-for="@Model.oCurrUserId_Logged" id="_oCurrUserId_Logged" />

        @if (Model.oUserProfile != null)
        {
            var photoPath = "~/img_db/" + (Model.oUserProfile.UserPhoto ?? "df_user_p.png");

            @if (Model.profileScope == "C" && (Model.subSetIndex == 6 || Model.subSetIndex == 11))@*|| (Model.profileScope == "C" && (Model.subSetIndex >= 6 && Model.subSetIndex <= 15))) // client admins*@
            {
                <div class="form-row">
                    <div class="form-group col-md">
                        <small asp-for="oUserProfile.strAppGlobalOwn " class="control-label"> Denomination (Church) </small>
                        <input id="_strAppGlobalOwn" type="text" asp-for="strAppGlobalOwn" class="form-control text-sm" disabled />
                    </div>
                </div>
                <input type="hidden" asp-for="oUserProfile.AppGlobalOwnerId" id="_hdnAppGlobalOwnerId" />

                @if (Model.oUserProfile.ChurchBodyId == null)
                {
                    int? _oAGOId = -1; if (Model.oUserProfile.AppGlobalOwnerId != null) { _oAGOId = (int)Model.oUserProfile.AppGlobalOwnerId; };
                    int? _oCBId = -1; if (Model.oUserProfile.ChurchBodyId != null) { _oCBId = (int)Model.oUserProfile.ChurchBodyId; }

                    <div class="form-row mb-3">
                        <div class="col-md-12 mb-3">
                            @{ var strCBLevelTag = "Church Body (" + Model.strChurchLevel + ")"; }
                            <small id="_lblChurchBodyId" class="font-weight-normal" asp-for="strChurchBody"> @strCBLevelTag </small>
                            @*<input id="_oCBChurchLevelId" type="hidden" asp-for="@Model.oUserProfile.oCBChurchLevelId" />*@
                            <div class="input-group">
                                <input id="_strChurchBody" type="text" class="form-control text-sm bg-transparent" asp-for="strChurchBody" aria-describedby="button-addon2" placeholder="Church Body" disabled />
                                <button class="btn btn-light btn-sm border border-left-0" type="button" id="button-addon2"
                                        onclick="ImportTargetCB(@_oAGOId, @_oCBId, '_hdnChurchBodyId', '_strChurchBody', '', '_lblChurchBodyId', 'Church_Body')">

                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                            </div>
                            <input type="hidden" asp-for="oUserProfile.ChurchBodyId" id="_hdnChurchBodyId" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-row">
                        <div class="form-group col-md">
                            @{ var strCBLevelTag = "Church Body (" + Model.strChurchLevel + ")"; }
                            <small id="_lblChurchBodyId" class="font-weight-normal" asp-for="strChurchBody"> @strCBLevelTag </small>
                            <input id="_strChurchBody" type="text" asp-for="strChurchBody" class="form-control text-sm" disabled />
                        </div>
                    </div>

                    <input type="hidden" asp-for="oUserProfile.ChurchBodyId" id="_hdnChurchBodyId" />
                    @*<input type="hidden" asp-for="@Model.oUserProfile.oCBChurchLevelId" />*@
                }

                <hr class="cus-div" style="width:100%; border: 1px solid #808080;" />

            }
            else
            {
                <input type="hidden" asp-for="oUserProfile.AppGlobalOwnerId" id="_hdnAppGlobalOwnerId" />
                <input type="hidden" asp-for="oUserProfile.ChurchBodyId" id="_hdnChurchBodyId" />
                @*<input type="hidden" asp-for="@Model.oUserProfile.oCBChurchLevelId" />*@
            }
 
            <div class="form-row">
                <div class="form-group col-sm-8">
                    <div class="form-row mb-3">
                        <div class="col-md">
                            <small asp-for="oUserProfile.UserDesc " class="control-label">  Name of User</small>
                            @if (Model.subSetIndex != 1 && Model.subSetIndex != 2)@*(string.Compare(Model.oUserProfile.Username, "sys", true) != 0 && string.Compare(Model.oUserProfile.Username, "supadmin", true) != 0)*@
                            {<input asp-for="oUserProfile.UserDesc" class="form-control text-sm" autocomplete="off" /> }
                            else
                            { <input asp-for="oUserProfile.UserDesc" class="form-control text-sm" autocomplete="off" disabled /> <input type="hidden" asp-for="oUserProfile.UserDesc" />}
                            <span asp-validation-for="oUserProfile.UserDesc" class="text-danger"></span>
                        </div>
                    </div>

                    @if (Model.subSetIndex != 1)
                    {
                        <div class="form-row mb-3">
                            <div class="col-md">
                                <small asp-for="oUserProfile.Email " class="control-label">Email</small>
                                <input type="email" maxlength="50" asp-for="oUserProfile.Email" class="form-control text-sm" autocomplete="off" required />
                                <span asp-validation-for="oUserProfile.Email" class="text-danger"></span>
                            </div>
                        </div>
                    }


                    @*<div class="form-row col-sm">
            <div class="col-md">
                <label asp-for="oUserProfile.PhoneNum " class="control-label text-decoration-none"></label>
                <input asp-for="oUserProfile.PhoneNum" class="form-control text-sm" autocomplete="off" />
                <span asp-validation-for="oUserProfile.PhoneNum" class="text-danger"></span>
            </div>
        </div>*@

                    <div class="form-row mb-3">
                        <div class="col-md">
                            <small asp-for="oUserProfile.Username " class="control-label">Username</small>
                            @if (Model.subSetIndex != 1 && Model.subSetIndex != 2)@*(string.Compare(Model.oUserProfile.Username, "sys", true) != 0 && string.Compare(Model.oUserProfile.Username, "supadmin", true) != 0)*@
                            {
                                <input maxlength="50" asp-for="oUserProfile.Username" class="form-control text-sm" autocomplete="off" required />
                                <span asp-validation-for="oUserProfile.Username" class="text-danger"></span>
                            }
                            else
                            {
                                <input asp-for="oUserProfile.Username" class="form-control text-sm" autocomplete="off" disabled />
                                <input type="hidden" asp-for="oUserProfile.Username" />
                            }
                        </div>
                    </div>

                    @if (Model.subSetIndex != 1)
                    {
                        <div class="form-row mb-3">
                            <div class="col-md">
                                <small asp-for="oUserProfile.Strt " class="control-label">Effective</small>
                                <input type="date" asp-for="oUserProfile.Strt" class="form-control text-sm" autocomplete="off" />
                                <span asp-validation-for="oUserProfile.Strt" class="text-danger"></span>
                            </div>
                            @if (!(string.Compare(Model.oUserProfile.Username, "sys", true) == 0 || string.Compare(Model.oUserProfile.Username, "supadmin", true) == 0))
                            {
                                <div class="col-md">
                                    <small asp-for="oUserProfile.Expr " class="control-label"> Expires </small>
                                    <input type="date" asp-for="oUserProfile.Expr" class="form-control text-sm" autocomplete="off" />
                                    <span asp-validation-for="oUserProfile.Expr" class="text-danger"></span>
                                </div>
                            }
                        </div>
                    }



                    @*<div class="col-md">
            <label asp-for="AuthTypeUsed" class="control-label"></label>
            <select class="form-control text-sm border-0" asp-for="AuthTypeUsed" asp-items="Model.lkpAuthTypes"></select>
            <span asp-validation-for="AuthTypeUsed" class="text-danger"></span>
        </div>*@
                     

                <div class="form-row mb-3">
                    <div class="col-md-8">
                        <small class="font-weight-normal" asp-for="oUserProfile.ProfileLevel"> Mininum Role Level </small>
                        <select id="_ProfileLevel" class="form-control text-sm" asp-for="oUserProfile.ProfileLevel" asp-items="Model.lkpUserProfileLevels" aria-describedby="fd_ParentUnitId">
                            <option selected disabled value=""> Select Role </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <small asp-for="oUserProfile.UserStatus" class="control-label">Status</small>
                        @if (Model.subSetIndex != 1 && Model.subSetIndex != 2)@*(string.Compare(Model.oUserProfile.Username, "sys", true) != 0 && string.Compare(Model.oUserProfile.Username, "supadmin", true) != 0)*@
                        {
                            <select class="form-control text-sm" asp-for="oUserProfile.UserStatus" asp-items="Model.lkpStatuses"></select>
                            <span asp-validation-for="oUserProfile.UserStatus" class="text-danger"></span>
                        }
                        else
                        {
                            <div>
                                @if (Model.oUserProfile.UserStatus == "A")
                                {
                                    <span class="badge badge-success text-center text-light font-weight-normal border"> <i class="fas fa-check fa-sm text-light mr-1"></i> @Model.oUserProfile.strUserStatus </span>
                                }
                                else
                                {
                                    <span class="badge badge-light text-center text-secondary font-weight-normal border"> <i class="fas fa-times fa-sm mr-1"></i> @Model.oUserProfile.strUserStatus </span>
                                }
                            </div>
                            <input type="hidden" asp-for="oUserProfile.UserStatus" />
                        }
                    </div>
                </div>
                </div>

                <div class="form-group col-sm-4 mt-0 pl-3 border-left">
                    @*<img class="card-img-top img-thumbnail smaller" src="@photoPath" asp-append-version="true" style="width:100%; height: 200px; margin:5px" />*@

                    <div class="row justify-content-center">
                        <div class="col-md ">
                            <small asp-for="oUserProfile.UserPhoto" class="control-label">User Photo</small>
                            <div class="card">
                                @*<div class="card-header " style="border:0; background-color:whitesmoke">
                                    <label asp-for="oAppGlobalOwn.ChurchLogo" class="control-label"></label>
                                </div>*@
                                <div class="card-body">  @* style="min-width:30.5%; min-height:10rem"*@
                                    <div class="card-body text-center">
                                        <img class="card-img-top" src="@photoPath" asp-append-version="true" id="imgFile" style="min-width: 100px; min-height: 100px; max-width: 100px; max-height: 100px" />

                                        @*<img class="profile-user-img img-fluid img-circle" style="min-width: 150px; min-height: 150px; max-width: 150px; max-height: 150px"
                                             src="@photoPath" alt="User profile photo"  id="imgFile">*@
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="form-group">
                                        <input type="file" class="form-control-file" value="Choose photo" asp-for="UserPhotoFile">
                                        <input type="hidden" asp-for="oUserProfile.UserPhoto" id="_hdnCurrLogoId" />
                                    </div>


                                    @*<label asp-for="oAppGlobalOwn.ChurchLogo" class="control-label"></label>
                                    <div class="custom-file">
                                        <input class="text-wrap" type="hidden" asp-for="oUserProfile.UserPhoto" id="_hdnCurrLogoId" />
                                        <input type="hidden" class="form-control" id="imgFile" />
                                        <input asp-for="UserPhotoFile" class="form-control custom-file-input" />
                                        <label class="custom-file-label">Choose photo</label>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row col-sm">
                        <div class="col-md" id="_divResetPwdOnNextLogOn">
                            <small asp-for="oUserProfile.ResetPwdOnNextLogOn" class="control-label">&nbsp;</small>
                            <label class="chk_container text-sm font-weight-normal">
                                <span> Reset Password on next logon </span>
                                <input id="chk_ResetPwdOnNextLogOn" type="checkbox" asp-for="oUserProfile.ResetPwdOnNextLogOn" />
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        }



        @*@if (Model.profileScope == "C" && (Model.subSetIndex == 6 || Model.subSetIndex == 11))
        {
            <div class="form-row">
                <div class="col-md mb-3">
                    <small class="font-weight-normal" asp-for="strAppGlobalOwn"><i class="fa fa-filter fa-sm text-gray"></i> &nbsp; Denomination (Church)</small>
                    <label class="font-weight-normal" asp-for="oAppGloOwnId"> <i class="fa fa-filter fa-sm text-gray"></i> &nbsp; Denomination (Church) </label>
                    <select id="_AppGloOwnId" class="form-control text-sm" asp-for="oUserProfile.AppGlobalOwnerId" asp-items="Model.lkpAppGlobalOwns" placeholder="Denomination (Church)" aria-describedby="fd_AppGlobalOwnerId" required>
                        <option selected disabled value="">Select denomination (church)...</option>
                    </select>
                    <div class="invalid-feedback" id="fd_AppGlobalOwnerId">
                        Select the denomination (church)
                    </div>
                </div>
                <div class="col-4 mb-3">
                    <small class="font-weight-normal" asp-for="oUserProfile.CBChurchLevelId"> Church Level </small>
                    <select id="_ChurchLevelId" class="form-control text-sm" asp-for="oUserProfile.oCBChurchLevelId" asp-items="Model.lkpChurchLevels" aria-describedby="fd_ChurchLevelId" required>
                        <option selected disabled value=""> Select Church level </option>
                    </select>
                    <input id="hdn_ChurchLevelId" type="hidden" value="@Model.oUserProfile.oCBChurchLevelId" />
                    <div class="invalid-feedback" id="fd_ChurchLevelId">
                        Select the church level
                    </div>
                </div>
            </div>
            <div class="form-row" id="_div_ChurchBodyId_1" hidden>
                <div class="col-md mb-3">
                    <small id="_strChurchLevel_1" class="font-weight-normal" asp-for="ChurchBodyId_1"> @ViewData["strChurchLevel_1"] </small>
                    <input id="_strChurchBody_1" class="form-control text-sm" type="text" asp-for="strChurchBody_1" placeholder="@ViewData["strChurchLevel_1"]" readonly>
                    <input id="_ChurchBodyId_1" type="hidden" asp-for="ChurchBodyId_1" />
                    <input type="hidden" asp-for="strChurchLevel_1" />
                    <input id="hdn_ChurchBodyId_1" type="hidden" value="@Model.ChurchBodyId_1" />
                    <input id="hdn_strChurchLevel_1" type="hidden" asp-for="strChurchLevel_1" />
                </div>
            </div>

            var _desc_2 = "Select " + ViewBag.strChurchLevel_2;
            <div class="form-row" id="_div_ChurchBodyId_2" hidden>
                <div class="col-md mb-3">
                    <small id="_strChurchLevel_2" class="font-weight-normal" asp-for="ChurchBodyId_2"> @ViewData["strChurchLevel_2"] </small>
                    <select id="_ChurchBodyId_2" class="form-control text-sm" asp-for="ChurchBodyId_2" aria-describedby="fd_ChurchBodyId_2">
                        <option selected disabled value=""> @_desc_2 </option>
                    </select>
                    <input type="hidden" asp-for="strChurchLevel_2" />
                    <input id="hdn_ChurchBodyId_2" type="hidden" value="@Model.ChurchBodyId_2" />
                    <input id="hdn_strChurchLevel_2" type="hidden" asp-for="strChurchLevel_2" />
                </div>
            </div>

            var _desc_3 = "Select " + ViewBag.strChurchLevel_3;
            <div class="form-row" id="_div_ChurchBodyId_3" hidden>
                <div class="col-md mb-3">
                    <small id="_strChurchLevel_3" class="font-weight-normal" asp-for="ChurchBodyId_3"> @ViewData["strChurchLevel_3"] </small>
                    <select id="_ChurchBodyId_3" class="form-control text-sm" asp-for="ChurchBodyId_3" aria-describedby="fd_ChurchBodyId_3">
                        <option selected disabled value=""> @_desc_3 </option>
                    </select>
                    <input type="hidden" asp-for="strChurchLevel_3" />
                    <input id="hdn_ChurchBodyId_3" type="hidden" value="@Model.ChurchBodyId_3" />
                    <input id="hdn_strChurchLevel_3" type="hidden" asp-for="strChurchLevel_3" />
                </div>
            </div>

            var _desc_4 = "Select " + ViewBag.strChurchLevel_4;
            <div class="form-row" id="_div_ChurchBodyId_4" hidden>
                <div class="col-md mb-3">
                    <small id="_strChurchLevel_4" class="font-weight-normal" asp-for="ChurchBodyId_4"> @ViewData["strChurchLevel_4"] </small>
                    <select id="_ChurchBodyId_4" class="form-control text-sm" asp-for="ChurchBodyId_4" aria-describedby="fd_ChurchBodyId_4">
                        <option selected disabled value=""> @_desc_4 </option>
                    </select>
                    <input type="hidden" asp-for="strChurchLevel_4" />
                    <input id="hdn_ChurchBodyId_4" type="hidden" value="@Model.ChurchBodyId_4" />
                    <input id="hdn_strChurchLevel_4" type="hidden" asp-for="strChurchLevel_4" />
                </div>
            </div>

            var _desc_5 = "Select " + ViewBag.strChurchLevel_5;
            <div class="form-row" id="_div_ChurchBodyId_5" hidden>
                <div class="col-md mb-3">
                    <small id="_strChurchLevel_5" class="font-weight-normal" asp-for="ChurchBodyId_5"> @ViewData["strChurchLevel_5"] </small>
                    <select id="_ChurchBodyId_5" class="form-control text-sm" asp-for="ChurchBodyId_5" aria-describedby="fd_ChurchBodyId_5">
                        <option selected disabled value="">  @_desc_5 </option>
                    </select>
                    <input type="hidden" asp-for="strChurchLevel_5" />
                    <input id="hdn_ChurchBodyId_5" type="hidden" value="@Model.ChurchBodyId_5" />
                    <input id="hdn_strChurchLevel_5" type="hidden" asp-for="strChurchLevel_5" />
                </div>
            </div>

            <hr class="cus-div" style="width:100%; border: 1px inset #000;" />
        }
        else
        {
            <input type="hidden" asp-for="oUserProfile.AppGlobalOwnerId" id="_AppGloOwnId" />
            <input type="hidden" asp-for="oUserProfile.ChurchBodyId" id="_hdnChurchBodyId" />
        }*@



    </form>
</div>