@model RhemaCMS.Models.ViewModels.vm_app_ven.MSTRChurchBodyModel


    

        @if (Model.oChurchBody != null)
        { 
            //var photoPath = "~/img_db/" + (Model.oChurchBody.ChurchLogo ?? "df_user_p.png");
    @*<div id="divModalContainer" class="jumbotron-fluid shadow-none form-group justify-content-center" style="width: 90%; margin: 0px auto 10px auto ; padding:0;  ">
        <form class="needs-validation novalidate bg-transparent p-2" id="currForm_CB" method="post" enctype="multipart/form-data" asp-action="AddOrEdit_CB">*@

        <div id="divModalContainer" class="jumbotron-fluid shadow-none form-group justify-content-center " style="width: 90%; margin: 0px auto 10px auto ; padding:0;">

            <form class="needs-validation bg-transparent p-2" novalidate id="currForm_CB" method="post" enctype="multipart/form-data" asp-action="AddOrEdit_CB">


                @{ var CBNameTag = Model.oChurchBody.OrgType == "CH" ? "Name of Congregation Head-unit" : Model.oChurchBody.OrgType == "CN" ? "Name of Congregation" : "Church Unit Name"; }

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="oChurchBody.Id" id="_hdnCurrId_CB" />
                <input type="hidden" asp-for="oChurchBody.AppGlobalOwnerId" id="_hdnAppGloOwnId" />
                <input type="hidden" asp-for="PageIndex" id="_hdnPageIndex" />
                <input type="hidden" asp-for="oCBLevelCount" id="_oCBLevelCount" />
                <input type="hidden" asp-for="numCLIndex" id="_numCLIndex" />

                <input type="hidden" asp-for="oChurchBody.Created" />
                <input type="hidden" asp-for="oChurchBody.LastMod" />
                <input type="hidden" asp-for="oChurchBody.CreatedByUserId" />
                <input type="hidden" asp-for="oChurchBody.LastModByUserId" />

                @*<input type="hidden" asp-for="@Model.setIndex" id="_setIndex" />
        <input type="hidden" asp-for="@Model.subSetIndex" id="_subSetIndex" />*@

                <input type="hidden" asp-for="@Model.oChurchBodyId_Logged" id="_oChurchBody_Logged" />
                <input type="hidden" asp-for="@Model.oAppGloOwnId_Logged" id="_oAppGloOwnId_Logged" />
                <input type="hidden" asp-for="@Model.oUserId_Logged" id="_oCurrUserId_Logged" />


                <div class="form-row mb-3">
                    <div class="col-md">
                        <small class="font-weight-normal" asp-for="strAppGlobalOwn">Denomination (Church)</small>
                        <input id="_strAppGlobalOwn" class="form-control text-sm text-center" type="text" asp-for="strAppGloOwn" placeholder="Denomination (Church)" readonly>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-md">
                        <small class="font-weight-normal" asp-for="oChurchBody.Name"> @CBNameTag </small>
                        <input type="text" class="form-control text-sm" asp-for="oChurchBody.Name" placeholder="@CBNameTag " aria-describedby="fd_Name" required>
                        <div class="invalid-feedback" id="fd_Name">
                            @{ var strName = @CBNameTag + " required"; }
                            @strName
                        </div>
                    </div>
                </div>

                <div class="form-row mb-3">
                    <div class="col-md-6">
                        <small class="font-weight-normal" asp-for="oChurchBody.OrgType">Organisation Type </small>
                        <select id="_OrgType" class="form-control text-sm" asp-for="oChurchBody.OrgType" asp-items="Model.lkpOrgTypes" aria-describedby="fd_OrgType" required>
                            @*<option selected disabled value="">Select...</option>*@
                        </select>
                        <div class="invalid-feedback" id="fd_OrgType">
                            Select the church (organisation) type
                        </div>
                    </div>
                    <div class="col-md-6">
                        <small class="font-weight-normal" asp-for="oChurchBody.ChurchLevelId"> Church Level </small>
                        <select id="_ChurchLevelId" class="form-control text-sm" asp-for="oChurchBody.ChurchLevelId" asp-items="Model.lkpChurchLevels" aria-describedby="fd_ChurchLevelId" required>
                            @*<option selected disabled value=""> Select Church level </option>*@
                        </select>
                        <div class="invalid-feedback" id="fd_ChurchLevelId">
                            Select the church level
                        </div>
                    </div>
                </div>


                <!-- CB Parent -->
                @if (Model.oChurchBody.OrgType != "CR")
                {
                    int? _oAGOId = -1; if (Model.oChurchBody.AppGlobalOwnerId != null) { _oAGOId = (int)Model.oChurchBody.AppGlobalOwnerId; };
                    int? _oCBId = -1; if (Model.oChurchBody.Id != -1) { _oCBId = (int)Model.oChurchBody.Id; }

                    <div class="form-row mb-3">
                        <div class="col-md-12 mb-3">
                            @{ var strParCBLevelTag = !string.IsNullOrEmpty(Model.strParentCBLevel) ? "Parent Body (" + Model.strParentCBLevel + ")" : "Parent Body"; }
                            <small id="_lblParentChurchBody" class="font-weight-normal" asp-for="oChurchBody"> @strParCBLevelTag </small>
                            @*<input id="_oCBChurchLevelId" type="hidden" asp-for="@Model.oUserProfile.oCBChurchLevelId" /> *@
                            <div class="input-group">
                                <input id="_strParentChurchBody_par" type="text" class="form-control text-sm bg-transparent"
                                       asp-for="strParentChurchBody" aria-describedby="button-addon2" placeholder="Parent Body" disabled />
                                <button class="btn btn-light btn-sm border border-left-0" type="button" id="button-addon2"
                                        onclick="ImportTargetCB(@_oAGOId, @_oCBId, '_numParentChurchBodyId_par', '_strParentChurchBody_par', '', '_lblParentChurchBody', 'Parent_Body')">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                            </div>
                            <input id="_numParentChurchBodyId_par" type="hidden" asp-for="oChurchBody.ParentChurchBodyId" />
                        </div>
                    </div>

                }
                else
                {
                    <input id="_numParentChurchBodyId_par" type="hidden" asp-for="oChurchBody.ParentChurchBodyId" />
                }



                @*<div class="form-row mb-3" id="_div_ChurchBodyId_1" hidden>
            <div class="col-md">
                <small class="font-weight-normal" asp-for="ChurchBodyId_1"> @ViewBag.strChurchLevel_1 </small>
                <input id="_strChurchBody_1" class="form-control text-sm " type="text" asp-for="strChurchBody_1" placeholder="@ViewBag.strChurchLevel_1" readonly>
                <input type="hidden" asp-for="ChurchBodyId_1" id="_ChurchBodyId_1" />
                <input type="hidden" asp-for="strChurchLevel_1" />
            </div>
        </div>

        @{ var _desc_2 = "Select " + ViewBag.strChurchLevel_2;}
        <div class="form-row mb-3" id="_div_ChurchBodyId_2" hidden>
            <div class="col-md">
                <small class="font-weight-normal" asp-for="ChurchBodyId_2"> @ViewBag.strChurchLevel_2 </small>
                <select id="_ChurchBodyId_2" class="form-control text-sm" asp-for="ChurchBodyId_2" aria-describedby="fd_ChurchBodyId_2">
                    <option selected disabled value=""> @_desc_2 </option>
                </select>
                <input type="hidden" asp-for="strChurchLevel_2" />
                <input id="hdn_ChurchBodyId_2" type="hidden" value="@Model.ChurchBodyId_2" />

            </div>
        </div>

        @{ var _desc_3 = "Select " + ViewBag.strChurchLevel_3;}
        <div class="form-row mb-3" id="_div_ChurchBodyId_3" hidden>
            <div class="col-md">
                <small class="font-weight-normal" asp-for="ChurchBodyId_3"> @ViewBag.strChurchLevel_3 </small>
                <select id="_ChurchBodyId_3" class="form-control text-sm" asp-for="ChurchBodyId_3" aria-describedby="fd_ChurchBodyId_3">
                    <option selected disabled value=""> @_desc_3 </option>
                </select>
                <input type="hidden" asp-for="strChurchLevel_3" />
                <input id="hdn_ChurchBodyId_3" type="hidden" value="@Model.ChurchBodyId_3" />

            </div>
        </div>

        @{ var _desc_4 = "Select " + ViewBag.strChurchLevel_4; }
        <div class="form-row mb-3" id="_div_ChurchBodyId_4" hidden>
            <div class="col-md">
                <small class="font-weight-normal" asp-for="ChurchBodyId_4"> @ViewBag.strChurchLevel_4 </small>
                <select id="_ChurchBodyId_4" class="form-control text-sm" asp-for="ChurchBodyId_4" aria-describedby="fd_ChurchBodyId_4">
                    <option selected disabled value=""> @_desc_4 </option>
                </select>
                <input type="hidden" asp-for="strChurchLevel_4" />
                <input id="hdn_ChurchBodyId_4" type="hidden" value="@Model.ChurchBodyId_4" />

            </div>
        </div>

        @{ var _desc_5 = "Select " + ViewBag.strChurchLevel_5;}
        <div class="form-row mb-3" id="_div_ChurchBodyId_5" hidden>
            <div class="col-md">
                <small class="font-weight-normal" asp-for="ChurchBodyId_5"> @ViewBag.strChurchLevel_5 </small>
                <select id="_ChurchBodyId_5" class="form-control text-sm" asp-for="ChurchBodyId_5" aria-describedby="fd_ChurchBodyId_5">
                    <option selected disabled value="">  @_desc_5 </option>
                </select>
                <input type="hidden" asp-for="strChurchLevel_5" />
                <input id="hdn_ChurchBodyId_5" type="hidden" value="@Model.ChurchBodyId_5" />

            </div>
        </div>*@



                <div class="form-row mb-3">
                    <div class="col-md-6">
                        <small class="font-weight-normal" asp-for="oChurchBody.GlobalChurchCode"> Church Code </small>
                        <input type="text" class="form-control text-sm" maxlength="30" asp-for="oChurchBody.GlobalChurchCode" placeholder="Church code" aria-describedby="fd_GlobalChurchCode" readonly>
                        @if (string.IsNullOrEmpty(Model.oChurchBody.GlobalChurchCode))
                        {
                            <small id="fd_GlobalChurchCode" class="form-text text-muted">
                                Code will be auto-generated when saved.
                            </small>
                        }
                    </div>
                    @*<div class="col-md-6 mb-3">
                <small class="font-weight-normal" asp-for="oChurchBody.cu"> Custom Church Code </small>
                <input type="text" class="form-control text-sm" asp-for="oChurchBody.CustomCode" placeholder="Church code" aria-describedby="fd_CustomCode"  >
            </div>*@
                </div>
                <div class="form-row mb-3">
                    <div class="col-md">
                        <small class="font-weight-normal" asp-for="oChurchBody.RootChurchCode"> Root Church Code </small>
                        <input type="text" class="form-control text-sm" maxlength="250" asp-for="oChurchBody.RootChurchCode" placeholder="Relative Church Code" aria-describedby="fd_RootChurchCode" readonly>
                        @if (string.IsNullOrEmpty(Model.oChurchBody.RootChurchCode))
                        {
                            <small id="fd_RootChurchCode" class="form-text text-muted">
                                Code will be auto-generated when saved.
                            </small>
                        }
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <small class="font-weight-normal" asp-for="oChurchBody.CtryAlpha3Code"> Country of Operation </small>
                        <select id="_CountryId" class="form-control text-sm" asp-for="oChurchBody.CtryAlpha3Code" asp-items="Model.lkpCountries" aria-describedby="fd_CountryId" required>
                            <option selected value="">Select country</option>
                        </select>
                        <div class="invalid-feedback" id="fd_CountryId">
                            Select the country
                        </div>
                    </div>
                    @*<div class="col-md-6">
                <small class="font-weight-normal" asp-for="oChurchBody.CountryRegionId"> Country Region </small>
                <select id="_CountryRegionId" class="form-control text-sm" asp-for="oChurchBody.CountryRegionId" asp-items="Model.lkpCountryRegions">
                    <option selected disabled value="">Select country region </option>
                </select>
                <input id="hdn_CountryRegionId" type="hidden" value="@Model.oChurchBody.CountryRegionId" />
            </div>*@

                    <div class="col-md-6">
                        <small class="font-weight-normal" asp-for="oChurchBody.SubscriptionKey"> Waive subscription </small>
                        <div class="col-md-6 mb-3 pt-1">
                            <div class="custom-control custom-switch custom-switch-on-green">
                                <input type="checkbox" class="custom-control-input" asp-for="oChurchBody.IsWaiveSubscription">
                                <label class="custom-control-label font-weight-normal text-sm pt-1 small" asp-for="oChurchBody.IsWaiveSubscription"> &nbsp; &nbsp; &nbsp; </label>
                            </div>

                            @* <div class="custom-control custom-switch">
                            <input id="chk_IsWaiveSubscription" type="checkbox" class="custom-control-input" asp-for="oChurchBody.IsWaiveSubscription">
                            <small class="custom-control-label font-weight-normal" asp-for="oChurchBody.IsWaiveSubscription"> Waive subscription </small>
                        </div>
                       <input id="_SubscriptionKey" type="text" class="form-control text-sm" asp-for="oChurchBody.SubscriptionKey" placeholder="Subscription key">
                    <input id="_SubscriptionKeyTemp" type="text" class="form-control text-sm" asp-for="oChurchBody.SubscriptionKey" placeholder="Subscription key">*@

                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <small class="font-weight-normal" asp-for="oChurchBody.LicenseKey"> License | Subscription (per-user) </small>
                        <div class="input-group ">
                            <input id="_LicenseKey" type="text" class="form-control text-sm" asp-for="oChurchBody.LicenseKey" placeholder="License key" autocomplete="off">
                            <input id="_SubscriptionKey" type="text" class="form-control text-sm" asp-for="oChurchBody.SubscriptionKey" placeholder="Subscription key" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-md-6">
                        <small class="font-weight-normal" asp-for="oChurchBody.ChurchWorkStatus"> Work Status </small>
                        <select class="form-control text-sm" asp-for="oChurchBody.ChurchWorkStatus" asp-items="Model.lkpChurchWorkStatuses">
                            @*<option selected disabled value="">Select</option>*@
                        </select>
                    </div>
                    <div class="col-md-6">
                        <small class="font-weight-normal" asp-for="oChurchBody.Status"> Status </small>
                        <select class="form-control text-sm" asp-for="oChurchBody.Status" asp-items="Model.lkpStatuses">
                            @*<option selected disabled value="">Select</option>*@
                        </select>
                    </div>
                </div>

                <div class="form-row mb-3">
                    <div class="col-md">
                        <small class="font-weight-normal" asp-for="oChurchBody.Comments"> Any comments </small>
                        <textarea asp-for="oChurchBody.Comments" class="form-control text-sm" rows="3"></textarea>
                    </div>
                </div>


                 


                <!-- only at add new cm else use member profile editor Model.oChurchBody.Id == 0 && -->
                @if (Model.oCBContactInfo != null)
                {
                    <hr class="cus-div" style="width:100%; border: 1px solid #b7b5b5;" />

                    <div class="card shadow-none pb-3" id="_divMemContactInfo">
                        <div class="card-header border ">
                            <a class="collapsed" data-toggle="collapse" href="#collapse-collapsed-cbci" aria-expanded="true" aria-controls="collapse-collapsed-cbci" id="heading-collapsed-cbci">
                                <i class="fas fa-address-book text-black-50 pr-2"></i>
                                <i class="fa fa-chevron-down fa-sm pull-right"></i>
                                <span class="text-sm"> Add Contact Details </span>
                            </a>
                            <input id="_hdnCBCI_IdCM_BD" type="hidden" asp-for="oCBContactInfo.Id" />
                        </div>
                        <div class="card-body collapse bg-white card-fuchsia card-outline border-left border-right border-bottom" id="collapse-collapsed-cbci" aria-labelledby="heading-collapsed-cbci">

                            <input type="hidden" asp-for="oCBContactInfo.ChurchBodyId" id="_ChurchBodyId" />
                            <input type="hidden" asp-for="oCBContactInfo.AppGlobalOwnerId" id="_AppGlobalOwnerId" />

                            @*<input type="hidden" asp-for="oCBContactInfo.IsPrimaryContact" />
                            <input type="hidden" asp-for="oCBContactInfo.IsChurchFellow" />*@

                            <input type="hidden" asp-for="oCBContactInfo.Created" />
                            <input type="hidden" asp-for="oCBContactInfo.LastMod" />
                            <input type="hidden" asp-for="oCBContactInfo.CreatedByUserId" />
                            <input type="hidden" asp-for="oCBContactInfo.LastModByUserId" />


                            <div class="form-row mb-2">
                                <div class="col-md">
                                    <small asp-for="oCBContactInfo.ResidenceAddress" class="control-label"></small>
                                    <input asp-for="oCBContactInfo.ResidenceAddress" class="form-control text-sm" placeholder="Residence Address" />
                                </div> 
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-md-6">
                                    <small asp-for="oCBContactInfo.Location" class="control-label"></small>
                                    <input asp-for="oCBContactInfo.Location" class="form-control text-sm" placeholder="Location"  aria-describedby="fd_Location" required />
                                    <div class="invalid-feedback" id="fd_Location">
                                        Please indicate location of congregation
                                    </div>
                                </div>
                                <div class="col-md-6" id="_divResAddrSameAsPostAddr_CBCI">
                                    @*<small asp-for="oCBContactInfo.ResAddrSameAsPostAddr" class="control-label">&nbsp;</small>*@
                                    <label class="chk_container">
                                        <small> Postal Address same as Residence Address </small>
                                        <input id="chk_ResAddrSameAsPostAddr_CBCI" type="checkbox" asp-for="oCBContactInfo.ResAddrSameAsPostAddr" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-row mb-2" id="_divPostalAddress_CBCI">
                                <div class="col-md">
                                    @*<small asp-for="oCBContactInfo.PostalAddress" class="control-label"></small>*@
                                    <input id="_PostalAddress_CBCI" asp-for="oCBContactInfo.PostalAddress" class="form-control text-sm" placeholder="Postal Address" />
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-md-6">
                                    @*<small asp-for="oCBContactInfo.City" class="control-label"></small>*@
                                    <input asp-for="oCBContactInfo.City" class="form-control text-sm" placeholder="City" />
                                </div>
                                <div class="input-group col-md-6">
                                    <input type="text" class="form-control text-sm border-right-0" asp-for="oCBContactInfo.DigitalAddress" placeholder="Digital Address">
                                    <button type="button" class="btn btn-light btn-sm border border-left-0 ">
                                        <i class="fas fa-map-marker-alt fa-sm text-danger"></i>
                                    </button>
                                </div>
                                @*<div class="input-group col-md-6">
                            <input type="text" class="form-control text-sm border-right-0" asp-for="oCBContactInfo.DigitalAddress" placeholder="Digital Address">
                            <button class="btn btn-default bg-transparent border-left-0" type="button"><i class="fas fa-map-marker-alt fa-sm text-danger"></i></button>
                        </div>*@
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-md-6">
                                    @*<small asp-for="oCBContactInfo.CtryAlpha3Code" class="control-label"></small>*@
                                    <select id="_CountryId_CBCI" class="form-control text-sm" asp-for="oCBContactInfo.CtryAlpha3Code" asp-items="Model.lkpCountries"  aria-describedby="fd_CountryId_CBCI" required>
                                        <option selected disabled value=""> Choose Country </option>
                                    </select>
                                    <div class="invalid-feedback" id="fd_CountryId_CBCI">
                                        Country for contact info is required
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @*<small asp-for="oCBContactInfo.RegionId" class="control-label"></small>*@
                                    <select id="_RegionId_CBCI" class="form-control text-sm" asp-for="oCBContactInfo.RegionId" asp-items="Model.lkpCountryRegions">
                                        <option selected value=""> Select Country Region </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-md-4">
                                    @*<small asp-for="oCBContactInfo.Telephone" class="control-label"></small>*@
                                    <input type="tel" asp-for="oCBContactInfo.Telephone" class="form-control text-sm" placeholder="Telephone" />
                                </div>
                                <div class="col-md-4">
                                    @*<small asp-for="oCBContactInfo.MobilePhone1" class="control-label"></small>*@
                                    <input id="_MobilePhone1" type="tel" asp-for="oCBContactInfo.MobilePhone1" class="form-control text-sm" placeholder="MobilePhone1" />
                                </div>
                                <div class="col-md-4">
                                    @*<small asp-for="oCBContactInfo.MobilePhone2" class="control-label"></small>*@
                                    <input id="_MobilePhone2" type="tel" asp-for="oCBContactInfo.MobilePhone2" class="form-control text-sm" placeholder="MobilePhone2" disabled />
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-md">
                                    @*<small asp-for="oCBContactInfo.Email" class="control-label"></small>*@
                                    <input type="email" asp-for="oCBContactInfo.Email" class="form-control text-sm" placeholder="Email"  aria-describedby="fd_Email" required />
                                </div>
                                <div class="invalid-feedback" id="fd_Email">
                                    Please specify official email or proxy email
                                </div>
                            </div>
                            <div class="form-row ">
                                <div class="col-md">
                                    @*<small asp-for="oCBContactInfo.Website" class="control-label">Website /Blog</small>*@
                                    <input type="url" asp-for="oCBContactInfo.Website" class="form-control text-sm" placeholder="Website" />
                                </div>
                            </div>

                        </div>
                    </div>
                }




            </form>

    </div>

    }

