@model RhemaCMS.Models.ViewModels.vm_cl.ChurchUnitModel


@if (Model != null)
{
    @if (Model.oChurchUnit != null)
    {
        int? _oAGOId = -1; if (Model.oChurchUnit.AppGlobalOwnerId != null) { _oAGOId = (int)Model.oChurchUnit.AppGlobalOwnerId; };
        int? _oCBId = -1; if (Model.oChurchUnit.OwnedByChurchBodyId != null) { _oCBId = (int)Model.oChurchUnit.OwnedByChurchBodyId; }

        @*<div id="divModalContainer" class="jumbotron-fluid shadow-none form-group justify-content-center " style="width: 90%; margin: 0px auto 10px auto ; padding:0;">
            <form class="needs-validation novalidate bg-transparent p-2" id="currForm_CU" method="post" enctype="multipart/form-data" asp-action="AddOrEdit_CU">*@

        <div id="divModalContainer" class="jumbotron-fluid shadow-none form-group justify-content-center " style="width: 90%; margin: 0px auto 10px auto ; padding:0;">
            <form class="needs-validation bg-transparent p-2" novalidate id="currForm_CU" method="post" enctype="multipart/form-data" asp-action="AddOrEdit_CU">
                      

                @*//var CBNameTag = Model.oChurchUnit.OrgType == "CH" ? "Name of Congregation Head-unit" : Model.oChurchUnit.OrgType == "CN" ? "Name of Congregation" : "Church Unit Name"; }*@

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="oChurchUnit.Id" id="_hdnCurrId_CU" />
                <input type="hidden" asp-for="oChurchUnit.AppGlobalOwnerId" id="_hdnAppGloOwnId_CU" />

                @*<input type="hidden" asp-for="oChurchUnit.OwnedByChurchBodyId" id="_OwnedByChurchBodyId_CU" />*@
                @*<input type="hidden" asp-for="pageIndex" id="_hdnPageIndex" />*@

                <input type="hidden" asp-for="oCBLevelCount" id="_oCBLevelCount_CU" />
                <input type="hidden" asp-for="numChurchLevel_Index" id="_numCLIndex_CU" />

                @*<input type="hidden" asp-for="oChurchUnit.OrgType" />*@

                <input type="hidden" asp-for="oChurchUnit.Created" />
                <input type="hidden" asp-for="oChurchUnit.LastMod" />
                <input type="hidden" asp-for="oChurchUnit.CreatedByUserId" />
                <input type="hidden" asp-for="oChurchUnit.LastModByUserId" />

                <input type="hidden" asp-for="@Model.setIndex" id="_setIndex" />

                @* <input type="hidden" asp-for="@Model.setIndex" id="_setIndex_Test" />
                    <input type="hidden" asp-for="@Model.subSetIndex" id="_subSetIndex" />*@

                <input type="hidden" asp-for="@Model.oChurchBodyId_Logged" id="_oChurchBodyId_Logged" />
                <input type="hidden" asp-for="@Model.oAppGloOwnId_Logged" id="_oAppGloOwnId_Logged" />
                <input type="hidden" asp-for="@Model.oUserId_Logged" id="_oCurrUserId_Logged" />



                <div class="form-row mb-3">
                    <div class="col-md">
                        <small class="font-weight-normal" asp-for="strAppGlobalOwn">Denomination (Church)</small>
                        <input id="_strAppGlobalOwn_CU" class="form-control text-sm" type="text" asp-for="strAppGlobalOwn" placeholder="Denomination (Church)"  readonly>
                    </div> 
                </div>



                @if (Model.oChurchUnit.UnitLogo != null)
                {
                    var photoPath = "~/img_db/" + (Model.oChurchUnit.UnitLogo ?? "noimg.gif");
                    <div class="row mb-3 justify-content-center">
                        <div class="form-group">
                            <div class="card">
                                <div class="card-body text-center" style="width:150px; height:150px">
                                    <img class="card-img-top" src="@photoPath" asp-append-version="true" id="imgFile" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <small class="font-weight-normal" asp-for="oChurchUnit.ChurchUnitLogo"> Unit logo (if any) </small>
                        <input type="file" class="form-control-file" value="Choose unit logo" asp-for="UnitLogoFile">
                        <input type="hidden" asp-for="oChurchUnit.UnitLogo" />
                    </div>

                    @*<div class="form-group">
                            <small class="font-weight-normal" asp-for="oChurchUnit.ChurchUnitLogo"> Unit logo (if any) </small>
                            <input type="file" class="form-control-file" value="Choose logo" asp-for="oChurchUnit.UnitLogo">
                            <input type="hidden" asp-for="oChurchUnit.UnitLogo" />
                        </div>*@
                }

                <div class="form-row mb-3">
                    <div class="col-md-6">
                        <small class="font-weight-normal" asp-for="strChurchLevel"> Level of Operation </small>
                        <select id="_ChurchLevelId_CU" class="form-control text-sm" asp-for="oChurchUnit.TargetChurchLevelId" asp-items="Model.lkpChurchLevels_CU" aria-describedby="fd_ChurchLevelId" required>
                            @*<option selected="selected">Alabama</option> *@
                        </select>
                        <div class="invalid-feedback" id="fd_ChurchLevelId" > Select target level </div>
                    </div>
                    <div class="col-md-6">
                        <small class="font-weight-normal" asp-for="strOrgType"> Unit Type</small>
                        <select id="_OrgType_CU" class="form-control text-sm" asp-for="oChurchUnit.OrgType" asp-items="Model.lkpOrgTypes" aria-describedby="fd_OrgType" required>
                            @*<option selected value="">Select country</option>*@
                        </select>
                        <div class="invalid-feedback" id="fd_OrgType"> Select unit type </div>
                    </div>
                </div>

                <div class="form-row mb-3">
                    <div class="col-md">
                        @{ var strCUNameTag = "Name of " + Model.strOrgType; }
                        <small id="_lblName_CU" class="font-weight-normal" asp-for="oChurchUnit.Name"> @strCUNameTag </small>
                        <input type="text" class="form-control text-sm" asp-for="oChurchUnit.Name" placeholder="@strCUNameTag" aria-describedby="fd_Name" required>
                        <div class="invalid-feedback" id="fd_Name">
                            @{ var strName = strCUNameTag + " required"; }
                            @strName
                        </div>
                        <div class="invalid-feedback" id="fd_Name"> Specify unit name </div>
                    </div>
                    <div class="col-md-2">
                        <small class="font-weight-normal" asp-for="oChurchUnit.Name"> Acronym </small>
                        <input type="text" maxlength="10" class="form-control text-sm" asp-for="oChurchUnit.Acronym">
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-md">
                        <small class="font-weight-normal" asp-for="oChurchUnit.Description"> Description </small>
                        <input type="text" class="form-control text-sm" asp-for="oChurchUnit.Description" placeholder="Description">
                    </div>
                </div>

                @*<div class="form-row mb-3">
                        <div class="col-md-12">
                            @{ var strCBLevelTag = "Church Body" + (!string.IsNullOrEmpty(Model.strCBLevel) ? " (" + Model.strCBLevel + ")" : ""); }
                            <small id="_lblChurchBodyId_CU" class="font-weight-normal" asp-for="strChurchBody"> @strCBLevelTag </small>
                            <div class="input-group border border rounded">
                                <input id="_strChurchBody_CU" type="text" class="form-control text-sm bg-transparent border-0" asp-for="strChurchBody" aria-describedby="button-addon2" disabled />
                                <button class="btn btn-light btn-sm border-left-0" type="button" id="button-addon2" onclick="ImportTargetCB('_OwnedByChurchBodyId_CU', '_strChurchBody_CU')">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                            </div>
                            <input id="_OwnedByChurchBodyId_CU" type="hidden" asp-for="oChurchUnit.OwnedByChurchBodyId" />
                        </div>
                    </div>*@

                <div class="form-row">
                    <div class="col-md-12">
                        <small class="font-weight-normal" asp-for="oChurchUnit.ParentUnitId"> Parent Unit </small>
                        <div class="card shadow-none ">
                            <div class="card-header border ">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-collapsed-parunitcb" aria-expanded="true" aria-controls="collapse-collapsed-parunitcb" id="heading-collapsed-parunitcb">
                                    <i class="fas fa-umbrella text-black-50 pr-2"></i>
                                    <i class="fa fa-chevron-down fa-sm pull-right"></i>
                                    <span class="text-sm" id="_strParentChurchUnit">  @Model.strParentChurchUnit </span>
                                </a>
                                <input id="_numParentUnitId_CU" type="hidden" asp-for="oChurchUnit.ParentUnitId" />
                            </div>
                            <div class="card-body collapse bg-white card-fuchsia card-outline border-left border-right border-bottom" id="collapse-collapsed-parunitcb" aria-labelledby="heading-collapsed-parunitcb">
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        @{ var strCBLevelTag_par = "Parent Body" + (!string.IsNullOrEmpty(Model.strCBLevel_par) ? " (" + Model.strCBLevel_par + ")" : ""); }
                                        <small id="_lblParentUnitCB_CU_par" class="font-weight-normal" asp-for="strParentUnitCB"> @strCBLevelTag_par </small>
                                        <div class="input-group">
                                            <input id="_strParentUnitCB_CU_par" type="text" class="form-control text-sm bg-transparent" asp-for="strParentUnitCB" aria-describedby="button-addon2" disabled />
                                            <button class="btn btn-light btn-sm border border-left-0" type="button" id="button-addon2" 
                                                    onclick="ImportTargetCB(@_oAGOId, @_oCBId, '_ParentUnitCBId_CU_par', '_strParentUnitCB_CU_par', '', '_lblParentUnitCB_CU_par', 'Parent_Body')"> 
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                        </div>
                                        <input id="_ParentUnitCBId_CU_par" type="hidden" asp-for="oChurchUnit.ParentUnitCBId" />
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <small class="font-weight-normal" asp-for="strParentUnitOrgType"> Parent Unit Type </small>
                                        <div class="input-group">
                                            <select id="_strParentUnitOrgType_CU" class="form-control text-sm" asp-for="strParentUnitOrgTypeCode" asp-items="Model.lkpOrgTypesAllUnits">
                                                <option selected disabled value=""> Select Unit Type </option>
                                            </select>
                                            <button id="_btnLoadParentUnit_CU" type="button" class="btn btn-light btn-sm border border-left-0">
                                                <i class="fa fa-refresh text-secondary"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <small class="font-weight-normal" asp-for="oChurchUnit.ParentUnitId"> Parent Unit </small>
                                        <div class="input-group">
                                            <select id="_ParentUnitId_CU" class="form-control text-sm" asp-for="oChurchUnit.ParentUnitId" aria-describedby="fd_ParentUnitId">
                                                <option selected disabled value=""> Select Unit </option>
                                            </select>
                                            <button id="_btnClearParentUnit_CU" type="button" class="btn btn-light btn-sm border border-left-0">
                                                <i class="fa fa-times text-danger"></i>
                                            </button>
                                        </div>
                                        <input id="hdn_ParentUnitId_CU" type="hidden" asp-for="oChurchUnit.ParentUnitId" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row mb-3">
                    <div class="col-md-6">
                        <small class="font-weight-normal" asp-for="oChurchUnit.GlobalUnitCode"> Unit Code </small>
                        <input type="text" class="form-control text-sm" maxlength="30" asp-for="oChurchUnit.GlobalUnitCode" placeholder="Church code" aria-describedby="fd_GlobalUnitCode" readonly>
                        @if (string.IsNullOrEmpty(Model.oChurchUnit.GlobalUnitCode))
                        {<small id="fd_GlobalUnitCode" class="form-text text-muted"> Code will be auto-generated when saved. </small>}
                    </div>
                    <div class="col-md-6">
                        <small class="font-weight-normal" asp-for="oChurchUnit.UnitCodeCustom"> Custom Unit Code </small>
                        <input class="form-control text-sm" type="text" maxlength="30" asp-for="oChurchUnit.UnitCodeCustom" placeholder="Custom Unit Code">
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-md">
                        <small class="font-weight-normal" asp-for="oChurchUnit.RootUnitCode">Root Unit Code</small>
                        <input class="form-control text-sm" type="text" maxlength="300" asp-for="oChurchUnit.RootUnitCode" placeholder="Root Unit Code" aria-describedby="fd_RootUnitCode" readonly>
                        @if (string.IsNullOrEmpty(Model.oChurchUnit.RootUnitCode))
                        {<small id="fd_RootUnitCode" class="form-text text-muted"> Code will be auto-generated when saved. </small>}
                    </div>
                </div>

                <div class="form-row mb-3">
                    <div class="col-md" id="_divIsFullAutonomy_CU">
                        @*<small asp-for="oChurchUnit.IsFullAutonomy" class="control-label">&nbsp;</small>*@
                        <label class="chk_container text-sm font-weight-normal">
                            <small> Autonomous (Independent) </small>
                            <input id="_chk_IsFullAutonomy_CU" type="checkbox" asp-for="oChurchUnit.IsFullAutonomy" />
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-md" id="_divIsSupervisedByParentUnit_CU" hidden>
                        @*<small asp-for="oChurchUnit.IsSupervisedByParentUnit" class="control-label">&nbsp;</small>*@
                        <label class="chk_container text-sm font-weight-normal">
                            <small> Supervised by Parent Unit </small>
                            <input id="_chk_IsSupervisedByParentUnit_CU" type="checkbox" asp-for="oChurchUnit.IsSupervisedByParentUnit" />
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

                <div class="form-row mb-3" id="_divSupervisedBy_CU" hidden>
                    <div class="col-md-12">
                        <small class="font-weight-normal" asp-for="oChurchUnit.SupervisedByUnitId"> Supervising Unit </small>
                        <div class="card shadow-none ">
                            <div class="card-header border ">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-collapsed-spunit" aria-expanded="true" aria-controls="collapse-collapsed-spunit" id="heading-collapsed-spunit">
                                    <i class="fas fa-eye text-black-50 pr-2"></i>
                                    <i class="fa fa-chevron-down fa-sm pull-right"></i>
                                    <span class="text-sm" id="_strSupervisedByUnit"> @Model.strSupervisedByUnit </span>
                                </a>
                                <input id="_numSupervisedByUnitId_CU" type="hidden" asp-for="oChurchUnit.SupervisedByUnitId" />
                            </div>
                            <div class="card-body collapse bg-white card-fuchsia card-outline border-left border-right border-bottom" id="collapse-collapsed-spunit" aria-labelledby="heading-collapsed-spunit">
                                <div class="col-md-12 mb-3">
                                    @{ var strCBLevelTag_sup = "Supervising Body" + (!string.IsNullOrEmpty(Model.strCBLevel_sup) ? " (" + Model.strCBLevel_sup + ")" : ""); }
                                    <small id="_lblSupervisedByUnitCB_CU_sup" class="font-weight-normal" asp-for="strSupervisedByUnitCB"> @strCBLevelTag_sup </small>
                                    <div class="input-group">
                                        <input id="_strSupervisedByUnitCB_CU_sup" type="text" class="form-control text-sm bg-transparent" asp-for="strSupervisedByUnitCB" aria-describedby="button-addon2" disabled />
                                        <button class="btn btn-light btn-sm border border-left-0" type="button" id="button-addon2" 
                                                onclick="ImportTargetCB(@_oAGOId, @_oCBId, '_SupervisedByUnitCBId_CU_sup', '_strSupervisedByUnitCB_CU_sup', '', '_lblSupervisedByUnitCB_CU_sup', 'Supervising_Body')">  
                                            <i class="fas fa-ellipsis-h"></i>
                                        </button>
                                    </div>
                                    <input id="_SupervisedByUnitCBId_CU_sup" type="hidden" asp-for="oChurchUnit.SupervisedByUnitCBId" />
                                </div>
                                <div class="col-md-12 mb-3">
                                    <small class="font-weight-normal" asp-for="strSupervisedByUnitOrgType"> Supervising Unit Type </small>
                                    <div class="input-group">
                                        <select id="_strSupervisedByUnitOrgType_CU" class="form-control text-sm" asp-for="strSupervisedByUnitOrgTypeCode" asp-items="Model.lkpOrgTypesAllUnits">
                                            @*<option selected disabled value=""> Select Unit Type </option>*@
                                        </select>
                                        <button id="_btnLoadSupervisedByUnit_CU" type="button" class="btn btn-light btn-sm border border-left-0 ">
                                            <i class="fa fa-refresh text-secondary"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <small class="font-weight-normal" asp-for="oChurchUnit.SupervisedByUnitId"> Supervising Unit </small>
                                    <div class="input-group">
                                        <select id="_SupervisedByUnitId_CU" class="form-control text-sm" asp-for="oChurchUnit.SupervisedByUnitId" aria-describedby="fd_SupervisedByUnitId">
                                            <option selected disabled value=""> Select </option>
                                        </select>
                                        <button id="_btnClearSupervisedByUnit_CU" type="button" class="btn btn-light btn-sm border border-left-0">
                                            <i class="fa fa-times text-danger"></i>
                                        </button>
                                    </div>
                                    <input id="hdn_SupervisedByUnitId_CU" type="hidden" asp-for="oChurchUnit.SupervisedByUnitId" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="form-row mb-3">
                    <div class="col-md">
                        <small class="font-weight-normal" asp-for="oChurchUnit.CoreFunction"> Portfolio (Core function) </small>
                        <textarea asp-for="oChurchUnit.CoreFunction" class="form-control text-sm" rows="3"></textarea>
                    </div>
                </div>

                <div class="form-row mb-3" id="_divGenderStatus1" hidden>
                    <div class="col-md">
                        <small class="font-weight-normal" asp-for="oChurchUnit.GenderStatus"> Gender </small>
                        <select id="_GenderStatus" class="form-control text-sm" asp-for="oChurchUnit.GenderStatus" asp-items="Model.lkpGenderStatuses" aria-describedby="fd_Status">
                            <option selected disabled value=""> Select </option>
                        </select>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-6">
                        @*<small class="font-weight-normal" asp-for="oChurchUnit.Status"> &nbsp; </small>*@
                        <div class="form-group" id="_divIsUnitGen_CU">
                            <small asp-for="oChurchUnit.IsUnitGen" class="control-label">&nbsp;</small>
                            <label class="chk_container text-sm font-weight-normal">
                                <small> Generational (Age-based) </small>
                                <input id="chk_IsUnitGen_CU" type="checkbox" asp-for="oChurchUnit.IsUnitGen" />
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-row mb-3" id="_divGenderStatus2" hidden>
                    <div class="col-md-6">
                        <div class="input-group col-12" aria-describedby="fd_AgeBracket">
                            <div>
                                <small class="font-weight-normal" asp-for="oChurchUnit.IsAgeBracketOverlaps"> Min Yrs </small>
                                <input type="number" min="0" max="200" class="form-control text-sm" asp-for="oChurchUnit.UnitMinAge">
                            </div>
                            <div>
                                <small class="font-weight-normal" asp-for="oChurchUnit.IsAgeBracketOverlaps"> Max Yrs </small>
                                <input type="number" min="0" max="200" class="form-control text-sm" asp-for="oChurchUnit.UnitMaxAge">
                            </div>
                        </div>
                        <small id="fd_AgeBracket" class="form-text text-muted"> Note: Age bracket is inclusive. </small>
                    </div>
                    <div class="col-md-6">
                        <small class="font-weight-normal mb-1" asp-for="oChurchUnit.IsAgeBracketOverlaps"> &nbsp; </small>
                        <div class="form-group" id="_divIsAgeBracketOverlaps_CU">
                            @*<small asp-for="oChurchUnit.IsAgeBracketOverlaps" class="control-label">&nbsp;</small>*@
                            <label class="chk_container text-sm font-weight-normal">
                                <small> Age bracket overlaps </small>
                                <input id="chk_IsAgeBracketOverlaps_CU" type="checkbox" asp-for="oChurchUnit.IsAgeBracketOverlaps" />
                                <span class="checkmark"></span>
                                <input type="hidden" asp-for="oChurchUnit.IsAgeBracketOverlaps" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md mb-3">
                        <small class="font-weight-normal" asp-for="oChurchUnit.Status"> Status  </small>
                        <select id="_Status_CU" class="form-control text-sm" asp-for="oChurchUnit.Status" asp-items="Model.lkpStatuses" aria-describedby="fd_Status" required>
                            @*<option selected value="">Select</option>*@
                        </select>
                        <div class="invalid-feedback" id="fd_Status"> Select status </div>
                    </div>
                    <div class="col-md mb-3" id="_divChurchWorkStatus">
                        <small class="font-weight-normal" asp-for="oChurchUnit.ChurchWorkStatus"> Work Status </small>
                        <select id="_ChurchWorkStatus_CU" class="form-control text-sm" asp-for="oChurchUnit.ChurchWorkStatus" asp-items="Model.lkpChurchWorkStatuses" aria-describedby="fd_ChurchWorkStatus">
                            @*<option selected value="">Select</option>*@
                        </select>
                    </div>
                    <div class="col-md mb-3">
                        <small class="font-weight-normal" asp-for="oChurchUnit.OrderIndex">Order Index</small>
                        <input type="number" min="1" class="form-control text-sm" asp-for="oChurchUnit.OrderIndex" placeholder="Order index">
                    </div>
                </div>
                <div class="form-row">
                    <div id="_DateFormed" class="col-md mb-3">
                        <small class="font-weight-normal" asp-for="oChurchBody.DateFormed"> Formed </small>
                        <input type="date" class="form-control text-sm" asp-for="oChurchUnit.DateFormed" placeholder="Date formed">
                    </div>
                    <div id="_DateInnaug" class="col-md mb-3">
                        <small class="font-weight-normal" asp-for="oChurchBody.DateInnaug"> Innaugurated </small>
                        <input type="date" class="form-control text-sm" asp-for="oChurchUnit.DateInnaug" placeholder="Date innaugurated">
                    </div>
                    <div id="_DateDeactive" class="col-md mb-3">
                        <small class="font-weight-normal" asp-for="oChurchUnit.DateDeactive"> Date Deactive </small>
                        <input type="date" class="form-control text-sm" asp-for="oChurchUnit.DateDeactive" placeholder="Date deactive">
                    </div>
                    <div id="_divStatusReason" class="col-md-12 mb-3" hidden>
                        <small class="font-weight-normal" asp-for="oChurchUnit.StatusReason"> Attached Reason </small>
                        <input id="_StatusReason" class="form-control text-sm" type="text" asp-for="oChurchUnit.StatusReason" placeholder="Attached Reason">
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-md">
                        <small class="font-weight-normal" asp-for="oChurchUnit.Comments">Any comments</small>
                        <textarea asp-for="oChurchUnit.Comments" maxlength="200" class="form-control text-sm" rows="3"></textarea>
                    </div>
                </div>

                @if (Model.oChurchUnit.UnitLogo == null)
                {
                    <div class="form-group">
                        <small class="font-weight-normal" asp-for="oChurchUnit.ChurchUnitLogo"> Unit logo (if any) </small>
                        <input type="file" class="form-control-file" value="Choose unit logo" asp-for="UnitLogoFile">
                    </div>
                }

                <br />
                <hr class="cus-div" style="width:100%; border: 1px solid #808080;" />


                @if ((Model.oChurchBody?.OrgType == "CR" || Model.oChurchBody?.OrgType == "CH") && Model.oChurchUnit.OwnedByChurchBodyId == Model.oChurchBodyId_Logged)
                {
                    <div class="form-row mb-3">
                        <div class="col-md-4">
                            <small class="font-weight-normal" asp-for="strOwnedByStatus"> Scope </small>
                            <input type="text" class="form-control text-sm" asp-for="strOwnershipStatus" placeholder="Scope" readonly>
                            <input type="hidden" asp-for="oChurchUnit.OwnedByChurchBodyId" />
                        </div>
                        <div class="col-md-8">
                            <small class="font-weight-normal" asp-for="oChurchUnit.SharingStatus"> Sharing Status </small>
                            <select  class="form-control text-sm" asp-for="oChurchUnit.SharingStatus" asp-items="Model.lkpSharingStatuses" aria-describedby="fd_SharingStatus" required>
                                <option selected disabled value=""> Select scope </option>
                            </select>
                            <div class="invalid-feedback" id="fd_SharingStatus"> Select sharing status </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-row mb-3">
                        <div class="col-md-4">
                            <small class="font-weight-normal" asp-for="strOwnershipStatus"> Scope </small>
                            <input type="text" class="form-control text-sm" asp-for="strOwnershipStatus" placeholder="Scope" readonly>
                            <input type="hidden" asp-for="oChurchUnit.SharingStatus" />
                        </div>
                        <div class="col-md-8">
                            @{ var strOwnCB = "Owned by " + (!string.IsNullOrEmpty(Model.strChurchLevel_OwnedByCB) ? "(" + Model.strChurchLevel_OwnedByCB + ")" : "");}
                            <small class="font-weight-normal" asp-for="strOwnedByChurchBody"> @strOwnCB </small>
                            <input type="text" class="form-control text-sm" asp-for="strOwnedByChurchBody" placeholder="Owned by" readonly>
                            <input type="hidden" asp-for="oChurchUnit.OwnedByChurchBodyId" />
                        </div>
                    </div>
                }





                @*<div class="col-md-3 mb-3">
                        <small class="font-weight-normal" asp-for="oChurchUnit.Status"> &nbsp;  </small>
                        <div class="custom-control custom-switch custom-switch-on-success">
                            <input type="checkbox" class="custom-control-input" id="customSwitch3" asp-for="bl_IsActivated">
                            <label class="custom-control-label font-weight-normal text-sm" for="customSwitch3"> Activated </label>
                        </div>


                        <div class="custom-control custom-switch custom-switch-on-green">
                            <input type="checkbox" class="custom-control-input pt-3" asp-for="bl_IsActivated">
                            <small class="custom-control-label font-weight-normal pt-1 text-secondary" asp-for="bl_IsActivated"> @Model.strStatus </small>
                        </div>

                        <input type="hidden" asp-for="oChurchUnit.Status" />

                        <select id="_Status_CU" class="form-control text-sm" asp-for="oChurchUnit.Status" asp-items="Model.lkpStatuses" aria-describedby="fd_Status" required>
                            <option selected value="">Select</option>
                        </select>
                    </div>*@

            </form>
        </div>
    }
}


