

@{
    var imgUrl_LogUser = "~/frontend/dist/img_db/" + ViewBag.strAppCurrUserPhoto_Filename;
    var imgUrl_Logo = "~/frontend/dist/img_db/" + ViewBag.strAppCurrChu_LogoFilename;
    // var imgUrl = "~/frontend/dist/img/2020_dev_sam.jpg";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> @ViewBag.strAppName - Home </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/frontend/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/frontend/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/frontend/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/frontend/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/frontend/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/frontend/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/frontend/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/frontend/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">


</head>
<body class="hold-transition sidebar-mini-md layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-lime navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Home" asp-action="Index_sa" class="nav-link text-light">
                        <i class="fas fa-home "></i>
                        <span>Home</span>
                    </a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link text-light">
                        <i class="fas fa-cog "></i>
                        <span>Configurations</span>
                    </a>
                </li>
                @if (((string)ViewBag.strAppCurrUser_RoleCateg).StartsWith("SUP_ADMN"))
                {
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link text-light">
                            <i class="fas fa-cogs "></i>
                            <span>Vendor Admin</span>
                        </a>
                    </li>
                }*@

                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link text-light">
                        <i class="fas fa-chart-area "></i>
                        <span>Reports</span>
                    </a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                @*<li>
                    <div class="bg-transparent rounded pt-2 ">
                        <span class="text-body text-light" style="color: #dcdccf; padding: 0; position: absolute;   text-align:center;  font-family: Verdana, Geneva, Tahoma, sans-serif "> Licensed to: </span>
                        <span class="left badge badge-light navbar-badge small position-fixed" style="left:0; top:0">Licensed to:</span>

                        <h5 class="text-center"><i class="fas fa-map-marker-alt fa-sm"></i>&nbsp; @ViewBag.strChuBodyLogged  </h5>
                    </div>
                </li>*@
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/frontend/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/frontend/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/frontend/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-user "></i>
                        @*<span class="badge badge-danger navbar-badge">3</span>*@
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="@Url.Content(imgUrl_LogUser)" alt="Current User" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        @ViewBag.strAppCurrUser
                                        @*<span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>*@
                                    </h3>
                                    <p class="text-sm">@ViewBag.strAppCurrUser_ChRole</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> @ViewBag.strUserSessionDura</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item btn bg-gradient-secondary text-center rounded-0" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-arrow-left fa-fw"></i>
                            Logout
                        </a>
                    </div>
                </li>

                @*<li class="nav-item" >
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>*@
            </ul>
        </nav>
        @*<nav class="main-header navbar navbar-expand navbar-light navbar-light pl-5">
            <div class="bg-transparent rounded pt-2 ">
                <span class="text-body text-light" style="color: #dcdccf; padding: 0; position: absolute;   text-align:center;  font-family: Verdana, Geneva, Tahoma, sans-serif "> Licensed to: </span>
                <span class="left badge badge-light navbar-badge small position-fixed" style="left:0; top:0">Licensed to:</span>

                <h5 class="text-center"><i class="fas fa-map-marker-alt fa-sm"></i>&nbsp; @ViewBag.strChuBodyLogged  </h5>
            </div
        </nav>>*@
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-lime elevation-2 ">
            <!-- Brand Logo -->
            <a asp-controller="Home" asp-action="Index_sa" class="brand-link bg-gray-light">
                <img src="~/frontend/dist/img/rhema_logo.png" alt="Church logo" class="brand-image img-circle elevation-1 shadow-sm"
                     style="opacity: .8">
                <span class="brand-text font-weight-normal text-lg-center"> @ViewBag.strAppName </span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar ">
                <!-- Sidebar user panel (optional)  -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="@Url.Content(imgUrl_Logo)" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <h3 class="dropdown-item-title text-cyan font-weight-bold">
                            @ViewBag.strChuBodyDenomLogged
                        </h3>
                        <p class=" text-sm font-weight-normal pr-1"><i class="fas fa-map-marker-alt fa-sm"></i>&nbsp;@ViewBag.strChuBodyLogged</p>
                    </div>
                </div>
                @*<div class="dropdown-divider"></div>*@
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="@Url.Content(imgUrl_LogUser)" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@ViewBag.strAppCurrUser</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview ">
                            <a asp-controller="Home" asp-action="Index" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                    <i class="right fas fa-angle-up"></i>
                                </p>
                            </a>
                        </li>
                        @*<li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-user-clock"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>*@
                        <li class="nav-item ">
                            <a href="pages/widgets.html" class="nav-link">
                                &nbsp;&nbsp;&nbsp;<i class="fas fa-user-plus fa-sm"></i>
                                <p>
                                    &nbsp; New Members
                                    <span class="right badge badge-success">@ViewBag.NewMemListCount</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="pages/widgets.html" class="nav-link">
                                &nbsp;&nbsp;&nbsp;<i class="fas fa-user-check fa-sm "></i>
                                <p>
                                    &nbsp;New Converts
                                    <span class="right badge badge-warning">@ViewBag.NewConvertsCount</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/widgets.html" class="nav-link">
                                &nbsp;&nbsp;&nbsp;<i class="fas fa-user-clock fa-sm"></i>
                                <p>
                                    &nbsp;Church Visitors
                                    <span class="right badge badge-info">@ViewBag.VisitorsCount</span>
                                </p>
                            </a>
                        </li>
                        <li> <div class="dropdown-divider"></div></li>
                        <li class="nav-item has-treeview ">
                            <a href="#" class="nav-link">
                                &nbsp;<i class="fas fa-user-friends " style="color:teal"></i>
                                <p>
                                    &nbsp;
                                    Member Register
                                    <i class="fas fa-angle-left right"></i>
                                    @*<span class="badge badge-info right">@ViewBag.MemListCount</span>*@
                                </p>
                            </a>
                            <ul class="nav nav-treeview ">
                                <li class="nav-item ">
                                    <a href="pages/layout/top-nav.html" class="nav-link text-black-50">
                                        <i class="fa fa-user-alt nav-icon"></i>
                                        <p>Member Profile</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                                        <i class="fas fa-church nav-icon"></i>
                                        <p>Member Church-life</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/layout/boxed.html" class="nav-link">
                                        <i class="fas fa-user-plus nav-icon"></i>
                                        <p>New Members</p>
                                        <span class="right badge badge-success">@ViewBag.NewMemListCount</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/layout/boxed.html" class="nav-link">
                                        <i class="fas fa-user-check nav-icon"></i>
                                        <p>New Converts</p>
                                        <span class="right badge badge-warning">@ViewBag.NewConvertsCount</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/layout/fixed-sidebar.html" class="nav-link">
                                        <i class="fa fa-arrow-left nav-icon"></i>
                                        <p>Past Membership</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/layout/fixed-topnav.html" class="nav-link">
                                        <i class="fa fa-table nav-icon"></i>
                                        <p>Profile Card</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/layout/fixed-footer.html" class="nav-link">
                                        <i class="fas fa-search-location nav-icon"></i>
                                        <p>Lookup Member</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/layout/collapsed-sidebar.html" class="nav-link">
                                        <i class="fas fa-history nav-icon"></i>
                                        <p>Member History</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li> <div class="dropdown-divider"></div></li>
                        <li class="nav-item has-treeview ">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-church" style="color:#b200ff"></i>
                                <p>
                                    Church-life &amp; Events
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview text-black-50">
                                <li class="nav-item">
                                    <a href="pages/charts/chartjs.html" class="nav-link">
                                        &nbsp;&nbsp;<i class="fas fa-calendar-day"></i> &nbsp;
                                        <p>Church Calendar (Almanac) </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/inline.html" class="nav-link">
                                        <i class="fas fa-bell nav-icon"></i>
                                        <p> Events Countdown</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/flot.html" class="nav-link">
                                        <i class="fas fa-place-of-worship nav-icon"></i>
                                        <p>Church Service Line-up</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/inline.html" class="nav-link">
                                        <i class="fas fa-ellipsis-h nav-icon"></i>
                                        <p>Order of Service</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/inline.html" class="nav-link">
                                        <i class="fas fa-calendar-day nav-icon"></i>
                                        <p>Preaching Plan</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/inline.html" class="nav-link">
                                        <i class="fas fa-check-double nav-icon"></i>
                                        <p>Church Activity Roster</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/inline.html" class="nav-link">
                                        <i class="fas fa-user-tie nav-icon"></i>
                                        <p>Minister's Schedule</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/inline.html" class="nav-link">
                                        <i class="fas fa-church nav-icon"></i>
                                        <p>Church Core Activities</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/inline.html" class="nav-link">
                                        <i class="fas fa-user-check nav-icon"></i>
                                        <p>Member-Activity Checklist</p>
                                    </a>
                                </li>
                                <li><div class="dropdown-divider"></div></li>
                                <li class="nav-item">
                                    <a href="pages/charts/chartjs.html" class="nav-link">
                                        &nbsp;<i class="fas fa-calendar-check"></i> &nbsp;
                                        <p> My Calendar </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/inline.html" class="nav-link ">
                                        <i class="fas fa-clipboard-list fa-lg nav-icon"></i>
                                        <p>To-do List</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li> <div class="dropdown-divider"></div></li>
                        <li class="nav-item has-treeview ">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-building" style="color: #ff6a00"></i>
                                <p>
                                    Church Administration
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview  ">
                                @if (ViewBag.strChurchType == "CH")
                                {
                                    <li class="nav-item">
                                        <a href="pages/UI/general.html" class="nav-link">
                                            <i class="fas fa-church nav-icon"></i>
                                            <p>Congregations</p>
                                        </a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a href="pages/charts/inline.html" class="nav-link">
                                        <i class="fas fa-layer-group nav-icon"></i>
                                        <p>Church Units</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/inline.html" class="nav-link">
                                        <i class="fas fa-user-tie nav-icon"></i>
                                        <p>Leadership Pool</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/UI/icons.html" class="nav-link">
                                        <i class="fas fa-briefcase nav-icon"></i>
                                        <p>Church Projects</p>
                                    </a>
                                </li>
                                <li> <div class="dropdown-divider"></div></li>
                                <li class="nav-item">
                                    <a href="pages/charts/inline.html" class="nav-link">
                                        <i class="fas fa-user-check nav-icon"></i>
                                        <p>Church Attendance</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/inline.html" class="nav-link">
                                        <i class="fas fa-user-clock nav-icon"></i>
                                        <p>
                                            Church Visitors
                                            <span class="right badge badge-info">@ViewBag.VisitorsCount</span>
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/inline.html" class="nav-link">
                                        <i class="fas fa-location-arrow nav-icon"></i>
                                        <p>Church Transfers</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/inline.html" class="nav-link">
                                        <i class="fas fa-arrows-alt-h nav-icon"></i>
                                        <p>Promotions | Demotions </p>
                                    </a>
                                </li>
                                <li> <div class="dropdown-divider"></div></li>
                                <li class="nav-item">
                                    <a href="pages/charts/inline.html" class="nav-link">
                                        <i class="fas fa-microphone nav-icon"></i>
                                        <p>Notices &amp; Announcements</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/UI/sliders.html" class="nav-link">
                                        <i class="fas fa-sms fa-lg nav-icon"></i>
                                        <p>Intra-Communication</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/UI/buttons.html" class="nav-link">
                                        <i class="fa fa-book nav-icon"></i>
                                        <p>Assets Register</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li> <div class="dropdown-divider"></div></li>
                        <li class="nav-item has-treeview ">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-coins" style="color:#ffd800"></i>
                                <p>
                                    Finance
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview ">
                                <li class="nav-item">
                                    <a href="pages/forms/general.html" class="nav-link">
                                        <i class="fa fa-arrow-left nav-icon"></i>
                                        <p>Receipts (Income)</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/forms/advanced.html" class="nav-link">
                                        <i class="fa fa-arrow-right nav-icon"></i>
                                        <p>Payments (Expense)</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/forms/editors.html" class="nav-link">
                                        <i class="fas fa-coins nav-icon"></i>
                                        <p>Offertory</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/forms/validation.html" class="nav-link">
                                        <i class="fas fa-money-check nav-icon"></i>
                                        <p>Tithes</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/forms/validation.html" class="nav-link">
                                        <i class="fas fa-user-tag nav-icon"></i>
                                        <p>Donations</p>
                                    </a>
                                </li>
                                <li> <div class="dropdown-divider"></div></li>
                                <li class="nav-item">
                                    <a href="pages/forms/validation.html" class="nav-link">
                                        <i class="fa fa-balance-scale nav-icon"></i>
                                        <p>Trial Balance</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/forms/validation.html" class="nav-link">
                                        <i class="fa fa-chart-pie nav-icon"></i>
                                        <p>Financial Reports</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li> <div class="dropdown-divider"></div></li>
                        <li class="nav-item has-treeview ">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-chart-line"></i>
                                <p>
                                    Reports &amp; Analytics
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview ">
                                <li class="nav-item">
                                    <a href="pages/tables/simple.html" class="nav-link">
                                        <i class="fa fa-table nav-icon"></i>
                                        <p>Church Statistics</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/tables/data.html" class="nav-link">
                                        <i class="fa fa-chart-line nav-icon"></i>
                                        <p>Growth Trends</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/tables/jsgrid.html" class="nav-link">
                                        <i class="fa fa-ellipsis-h nav-icon"></i>
                                        <p>Adhoc Analysis</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>


        <aside class="main-sidebar sidebar-dark-fuchsia elevation-2 ">
            <!-- Brand Logo -->
            <a asp-controller="Home" asp-action="Index" class="brand-link bg-gray-light">
                <img src="~/frontend/dist/img/rhema_logo.png" alt="Church logo" class="brand-image img-circle elevation-1 shadow-sm"
                     style="opacity: .8">
                <span class="brand-text font-weight-normal text-lg-center"> @ViewBag.strAppName </span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar ">
                <!-- Sidebar user panel (optional)  -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="@Url.Content(imgUrl_Logo)" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <h3 class="dropdown-item-title text-cyan font-weight-bold">
                            @ViewBag.strChuBodyDenomLogged
                        </h3>
                        <p class=" text-sm font-weight-normal pr-1"><i class="fas fa-map-marker-alt fa-sm"></i>&nbsp;@ViewBag.strChuBodyLogged</p>
                    </div>
                </div>
                @*<div class="dropdown-divider"></div>*@
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="@Url.Content(imgUrl_LogUser)" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@ViewBag.strAppCurrUser</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview ">
                            <a asp-controller="Home" asp-action="Index" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                    <i class="right fas fa-angle-up"></i>
                                </p>
                            </a>
                        </li>
                        @*<li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-user-clock"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>*@
                        <li class="nav-item ">
                            <a href="pages/widgets.html" class="nav-link">
                                &nbsp;&nbsp;&nbsp;<i class="fas fa-user-plus fa-sm"></i>
                                <p>
                                    &nbsp; New Members
                                    <span class="right badge badge-success">@ViewBag.NewMemListCount</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="pages/widgets.html" class="nav-link">
                                &nbsp;&nbsp;&nbsp;<i class="fas fa-user-check fa-sm "></i>
                                <p>
                                    &nbsp; New Converts
                                    <span class="right badge badge-warning">@ViewBag.NewConvertsCount</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/widgets.html" class="nav-link">
                                &nbsp;&nbsp;&nbsp;<i class="fas fa-user-clock fa-sm"></i>
                                <p>
                                    &nbsp; Church Visitors
                                    <span class="right badge badge-info">@ViewBag.VisitorsCount</span>
                                </p>
                            </a>
                        </li> 
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Dashboard</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2019-2020 <a href="http://rhema-systems.com">Rhema Systems &amp; Associates Limited - Ghana </a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.5
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>


    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Logout!</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body"> Logout to end your current session. Sure?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" asp-area="" asp-controller="UserLogin" asp-action="LoginUserAcc">Logout</a>
                </div>
            </div>
        </div>
    </div>




    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/frontend/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/frontend/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/frontend/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/frontend/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/frontend/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/frontend/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/frontend/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/frontend/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/frontend/plugins/moment/moment.min.js"></script>
    <script src="~/frontend/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/frontend/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/frontend/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/frontend/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/frontend/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/frontend/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/frontend/dist/js/demo.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>





