@model RhemaCMS.Models.ViewModels.vm_app_ven.ResetUserPasswordModel

@{
    //ViewData["Title"] = "RHEMA-CMS";
    //Layout = "_LayoutLogin";

    /// headers
    var userMess = @ViewData["strUserLoginFailMess"] as string;
    var _strAppName = @ViewData["strAppName"] as string;
    var _pageTitle = @_strAppName + " - Change Password";
    ///
    ViewData["Title"] = @_pageTitle;

    Layout = "_LayoutLogin";

     
}



    <body>
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row text-center">                          
                        <div class="col-sm-8 offset-2 text">
                            
                            <h2><strong class="mr-2 text-dark"> Change Password </strong><i class="fas fa-lock ml-2"></i></h2>

                            @if (Model.pageIndex == 2)
                            {
                                <div class="text-muted text-sm">
                                    Hint: Combine alphanumeric with special characters, minimum length: 6
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 offset-3 form-box "> 
                            <form needs-validation novalidate id="currForm_UP_ChgPwd" method="post" enctype="multipart/form-data" asp-action="AddOrEdit_UP_ChgPwd">
                                <div class="form-bottom-fill">
                                    @*<div asp-validation-summary="ModelOnly" class="alert alert-danger text-sm text-light p-1 mb-1 " role="alert"> </div>*@

                                    <input type="hidden" asp-for="UserId" id="_hdnCurrId_UP" />
                                    <input type="hidden" asp-for="oChurchBodyId" id="_hdnChuBodyId" />
                                    <input type="hidden" asp-for="oAppGloOwnId" id="_hdnAppGloOwnId" />
                                    <input type="hidden" asp-for="profileScope" />
                                    <input type="hidden" asp-for="SentVerificationCode" />
                                    <input type="hidden" asp-for="CurrentPassword" />

                                    <input type="hidden" asp-for="@Model.setIndex" id="_setIndex" />
                                    @*<input type="hidden" asp-for="@Model.ChurchCode" id="_ChurchCode" />*@
                                    @*<input type="hidden" asp-for="@Model.oChurchBodyId_Logged" id="_oChurchBody_Logged" />
        <input type="hidden" asp-for="@Model.oAppGloOwnId_Logged" id="_oAppGloOwnId_Logged" />*@
                                    <input type="hidden" asp-for="@Model.oCurrUserId_Logged" id="_oCurrUserId_Logged" />
                                    <input type="hidden" asp-for="@Model.strLogUserDesc" id="_strLogUserDesc" />


                                    <div class="col-sm text-center"> 
                                        <div asp-validation-summary="ModelOnly" class="bg-light text-center text-md-center text-dark m-0 mt-2 p-2 pr-3 pl-0 text-wrap rounded"
                                             style="vertical-align:middle"> </div>
                                    </div>

                                    @if (Model.pageIndex == 0)
                                    {
                                        <div class="text-muted text-sm text-light">
                                            Please use your new credentials (church code, username and password) to login.
                                        </div>
                                    }
                                    else if (Model.pageIndex == 1)
                                    {
                                        <div class="form-row mb-3 mt-3">
                                            <div class="form-group col-md">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text bg-transparent border" id="basic-addon1">
                                                            <i class="fas fa-church text-secondary" style="width: 25px" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                    <input id="_ChurchCode" autocomplete="off" asp-for="ChurchCode" class="form-control border" type="text" placeholder="Church code"
                                                           aria-label="Church code" aria-describedby="basic-addon1" style="font-family:Verdana, Geneva, Tahoma, sans-serif ; " required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row mb-3 mt-3">
                                            <div class="form-group col-md">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text bg-transparent border" id="basic-addon1">
                                                            <i class="fa fa-user text-secondary" style="width: 25px" aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                    <input id="_Username" autocomplete="off" asp-for="Username" class="form-control border" type="text" placeholder="Username"
                                                           aria-label="Username" aria-describedby="basic-addon1" style="font-family:Verdana, Geneva, Tahoma, sans-serif;" required>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    else if (Model.pageIndex == 2)
                                    {
                                        <input type="hidden" asp-for="ChurchCode" />
                                        <input type="hidden" asp-for="Username" />
                                        <div class="form-row mb-3 mt-3">
                                            <div class="form-group col-md ">
                                                <h5 class="text-center text-light"> Please authenticate. </h5>
                                                <p class="text-muted text-sm text-center">
                                                    Enter the 8-digit verification code sent via email /sms:
                                                </p>
                                                <input asp-for="VerificationCode" type="text" autocomplete="off" class="form-control text-center text-lg"
                                                       placeholder="verification code" aria-label="" aria-describedby="basic-addon2" required />
                                                <span asp-validation-for="VerificationCode" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-row mb-1">
                                            <div class="form-group col-md">
                                                <small class="font-weight-normal" asp-for="NewPassword">New Password</small>
                                                <input id="_NewPassword" asp-for="NewPassword" type="password" class="form-control text-lg" autocomplete="off" />
                                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-row mb-1">
                                            <div class="form-group col-md">
                                                <small class="font-weight-normal" asp-for="RepeatPassword">Repeat Password</small>
                                                <input id="_RepeatPassword" asp-for="RepeatPassword" type="password" class="form-control text-lg" autocomplete="off" />
                                                <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    }

                                    @*<button asp-controller="UserLogin" asp-action="LoginUserAcc" class="btn btn-outline-light border" data-dismiss="modal">
            <i class="fa fa-arrow-left mr-2"></i> Back to Login
        </button>*@

                                </div>

                                <div class="form-bottom bg-gradient-gray-dark">
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="button" id="_btnBackToLogin" class="btn btn-default bg-light"  >
                                                    @*asp-controller="UserLogin" asp-action="LoginUserAcc" asp-route-navBackClearCache="true">*@
                                                <i class="fas fa-arrow-left mr-2"></i> Back to Login
                                            </button>
                                        </div>

                                        <div class="col-6">
                                            @if (Model.pageIndex == 1)
                                            {
                                                <button id="btnSearch_UserAcc" type="submit" class="btn btn-outline-primary float-right">
                                                    <i class="fa fa-search mr-2"></i> Search
                                                </button>
                                            }

                                            else if (Model.pageIndex == 2)
                                            {
                                                <button id="btnSaveChanges" type="submit" class="btn btn-secondary bg-secondary float-right">
                                                    <i class="fas fa-database mr-2"></i> Change Password
                                                </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      
    </body>

 

@section Scripts {
    @*script for show password*@

    <script type="text/javascript">

        function myFunction() {
            var x = document.getElementById("Password"); /*/getElementById("Pwd_1");  *('# <%= Pwd.ClientID %>');*/
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

        //$(".toggle-password").click(function () {
        $("#showPwd").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $("#Password");
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });


        window.onload = () => {
            const myInput = document.getElementById('_NewPassword');
            myInput.onpaste = e => e.preventDefault();

            const myInput2 = document.getElementById('_RepeatPassword');
            myInput2.onpaste = e => e.preventDefault();
        }

    </script>

    <script>

        var AddEditCurrData_UP_ChgPwd = function (currChurchCode, currUsername, currSetIndex, _strItemName, _pageIndex = 1) {
                  //  alert('addORedit...');
                    // alert('addORedit.. ' + currId + ' __indx: ' + currSetIndex);



        //var currAGOId_Logged = $("#_oAppGloOwnId_Logged").data("value");
        //var currCBId_Logged = $("#_oChurchBodyId_Logged").data("value");

       // var currUserId_Logged = $("#_oUserId_Logged").data("value");
       // var currParBodyId = null;

        //if (currId < 0) currId = null;
        //if (currDenomId < 0) currDenomId = null;
        //if (currChuBodyId < 0) currChuBodyId = null;
        //if (currSetIndex < 0) currSetIndex = null;
        //if (currSubSetIndex < 0) currSubSetIndex = null;

        //if (currAGOId_Logged < 0) currAGOId_Logged = null;
        //if (currCBId_Logged < 0) currCBId_Logged = null;
        //if (currUserId_Logged < 0) currUserId_Logged = null;


            //   public IActionResult AddOrEdit_ChangeUserPwd(string churchCode = null, string username = null, int setIndex = 0)

            //   public IActionResult AddOrEdit_ChangeUserPwd(string churchCode, string username, int setIndex, int pageIndex = 1) 

            var url = "@Url.Action("AddOrEdit_ChangeUserPwd", "UserLogin")?churchCode=" + currChurchCode + "&username=" + currUsername + "&setIndex=" + currSetIndex + "&pageIndex=" + _pageIndex;

                //   alert(url)
            window.location.href = url;

                   // if (currId > 0) { document.querySelector('#btnSaveChanges').innerHTML = 'Update'; }
                    //   if (currId > 0) { $('#btnSaveChanges').html('Update'); }

                  //  alert(url)

                    //$('#divPopModal_AddEdit_lg').modal({
                    //    backdrop: 'static',
                    //    keyboard: false
                    //});

                    ////$('#divPopModal_AddEdit_lg').modal({
                    ////    backdrop: false,
                    ////    show: true
                    ////});

                    //$('#divPopModal_AddEdit_lg .modal-dialog').draggable({
                    //    handle: ".modal-header"
                    //});


                    ////alert('loading modal...')
                    ////$("#_setIndex").val(setIndex);
                    ////$('#divModalBody_AddEdit_lg').load(url, function () {
                    //$('#divPopModal_AddEdit_lg .modal-body').load(url, function () {

                    //    $('#divPopModal_AddEdit_lg .modal-title').html(_strItemName);
                    //    $("#divPopModal_AddEdit_lg").modal('show');
                    //});

                };

        // var DisplaySuccessInfo = function (msg, currDenomId, currChuBodyId, proScope, subScope, currSubSetIndex, reload = false) {
        var DisplaySuccessInfo = function (msg, reload = false) {   //currSubSetIndex,  proScope, subScope,

          //  alert('success.. reload: ' + reload);

                    $.alert({
                        title: 'Done!',
                        type: 'green',   
                        icon: 'success',       
                        content: '<span style="color:#000">' + msg + '<span>',
                        html: true,
                        background: 'green',
                        typeAnimated: true,
                       // closeIcon: false,
                        closeIconClass: 'fa fa-close', 
                        buttons: {
                            ok: function () {
                                if (reload) {
                                    ReloadCurrPage();   //, currSubSetIndex , proScope, subScope
                                }
                            }
                        }
                    });

                    //if (reload) {
                    //    ReloadCurrPage();   //, currSubSetIndex , proScope, subScope
                    //}
        };

        var DisplayErrorInfo = function (msg, reload = false) {

            $.alert({
                title: 'Oops!',
                type: 'red',
                //icon: 'fail',
                content: '<span style="color:#000">' + msg + '<span>',
                html: true,
                background: 'red',
                typeAnimated: true, 
                closeIcon: true,
                closeIconClass: 'fa fa-close',
                buttons: {
                    ok: function () {
                        if (reload) {
                            ReloadCurrPage();   //, currSubSetIndex , proScope, subScope
                        }
                    }
                }
            });

        };

        // var ReloadCurrPage = function (currDenomId = null, currChuBodyId = null, proScope, subScope, currSubSetIndex ) { //, chuCategId = null, showAllCong = true) {
        var ReloadCurrPage = function (pageIndex = 0) {
            //alert ('relod.. 0')
            window.location.href = '@Url.Action("GetChangeUserPwdDetail", "UserLogin")?pageIndex=' + pageIndex;
        }

        var ReloadCurrPageUserLogin = function () {
            //alert('relod.. login')
            window.location.href = '@Url.Action("LoginUserAcc", "UserLogin")';
        }

    </script>

    <script>
        $(document).on('click', '#btnSearch_UserAcc', function (e) {
            e.preventDefault();
          //  alert('search login user...');

            var currChurchCode = $("#_ChurchCode").val();
            var currUsername = $("#_Username").val();
            var currSetIndex = $("#_setIndex").val();
            var strItemName = $("#_strLogUserDesc").val();

         //   alert('click..');

            AddEditCurrData_UP_ChgPwd(currChurchCode, currUsername, currSetIndex, strItemName, 2);
        })

        $(document).on('click', '#_btnBackToLogin', function (e) {
            e.preventDefault();

            //alert('click.. _btnBackToLogin'); 

            ReloadCurrPageUserLogin();
        })

         $(document).on('click', '#btnSaveChanges', function (e) {
            e.preventDefault();

          //  alert('click..');

           // var currSetIndex = $("#_setIndex").val();
           // var currSubSetIndex = $("#_subSetIndex").val();

           //  alert('savin...: sub: ' + currSetIndex);

            SaveCurr_UP_ChgPwd();
        })



        var SaveCurr_UP_ChgPwd = function () {
           // alert('save... ');// + currSetIndex);

            var currFormData = new FormData($("#currForm_UP_ChgPwd").get(0));
            // var currFormData = $("#currForm_UP").serialize();

          //  alert('save... ');  // + currSetIndex);

            $.ajax({
                type: 'POST',
                // data: formdata,
                // processData: false,

                url: '@Url.Action("AddOrEdit_ChangeUserPwd", "UserLogin")',

               // url: "/AppVenAdmin/AddOrEdit_UP",
                data: currFormData,   //{ data: currFormData, taskIndx: oTask },  //
                //contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                contentType: false,
                processData: false,
                success: function (res) {

                    if (res.taskSuccess == true) {

                        //alert('success')

                        //var currChuBodyId = $("#_hdnChuBodyId").val();
                        //var currDenomId = $("#_hdnAppGloOwnId").val();
                        //
                        //var proScope = $("#_oProScope").val();
                        //var subScope = $("#_oSubScope").val();

                        // var currId = $("#_hdnCurrId_UP").val();

                        //alert('Done. ' + res.userMess)
                        $("#_userMess").val(res.userMess);
                        $("#_userMess").innerText = res.userMess;

                        DisplaySuccessInfo(res.userMess, true);

                        //, currSubSetIndex, proScope, subScope DisplaySuccessInfo(res.userMess, currDenomId, currChuBodyId, currSetIndex, currSubSetIndex); // "/AppVenAdmin/Index?oCurrChuBodyId=" + currChuBodyId + "&dxn=" + dxn);
                        // document.querySelector('#btnSaveChanges').innerHTML = 'Update';

                        // $('#btnSaveChanges').html('Update');
                        //var AddEditCurrData_UP = function (currId, currDenomId, currChuBodyId, currSetIndex, currSubSetIndex, _strItemName)

                       // ReloadCurrPageUserLogin();

                        //alert(res.userMess);


                        //ReloadCurrPage(0);

                      //  ReloadCurrPageUserLogin();
                    }

                    else //if (res.taskSuccess == false)
                    {
                     //  alert('Failed. ' + res.userMess)

                        DisplayErrorInfo(res.userMess);

                        //$.alert({
                        //    title: 'Oops!',
                        //    content: res.userMess,
                        //    type: 'red',
                        //    typeAnimated: true,
                        //});

                       // alert(res.userMess); //"Member transfer request failed. Details: " + ViewBag.UserMsg);
                        // $("#lblUserMessage").text(msg);
                    }
                }
            })
        }


    </script>

}

