@model RhemaCMS.Models.ViewModels.vm_cl.MemberRegistrationModel

@if (Model.taskIndex == 0)
{
    <table id="tabDataCM_MRR" class="table table-bordered table-striped text-sm">
        <thead>
            <tr>
                <th style="vertical-align: middle"> Year </th>
                <th style="vertical-align: middle"> Date  </th>
                <th width="100px" style="vertical-align: middle"> Code </th>
                @*<th width="100px" style="vertical-align: middle"> Status </th>*@ 
                <th class="justify-content-center" style="vertical-align: middle; text-align: center; width: 50px ">
                    <button type="button" class="btn btn-default w-100 h-100 border-0" onclick="AddEditCurrDataCM_MPC(@Model.oChurchBodyId, @Model.oChurchMemberId, -1, 15, 0, true)">
                        <i class="fa fa-refresh fa-secondary"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.lsMemberRegistrationModels)
            {
                if (item.oMemberRegistration != null)
                {
                    <tr>
                        <td style="vertical-align: middle">
                            @item.strRegYear

                            @if (item.strRegStatus.StartsWith("R"))
                            {
                                <small class="badge badge-success text-center">
                                    @item.strRegStatus
                                </small>
                            }
                            else
                            {
                                <small class="badge badge-danger text-center">
                                    @item.strRegStatus
                                </small>
                            }
                        </td>
                        <td style="vertical-align: middle">
                            @item.strRegDate
                        </td>
                        <td style="vertical-align: middle; text-align: center">
                            @item.oMemberRegistration.RegCode
                        </td> 

                        @*<td style="text-align: center; vertical-align: middle">
                            @if ((item.oMemberRegistration.RegistrationDate != null ? item.oMemberRegistration.RegistrationDate.Value.Year.ToString() : "") == item.oMemberRegistration.ChurchYear)
                            {<span class="badge badge-success text-center text-light font-weight-normal border"> <i class="fas fa-check fa-sm text-light"></i> @item.strRegStatus </span> }
                        else
                        { <span class="badge badge-light text-center text-dark font-weight-normal border"><i class="fas fa-times fa-sm text-light"></i>  @item.strAvailStatus </span>}
                        </td>*@

                        <td class="p-1" style="vertical-align: middle; text-align:center ">
                            @{ var strDesc = '"' + @item.strRegYear + " Year" + '"'; }
                            <div class="btn-group ">
                                <button type="button" class="btn btn-outline-light btn-sm dropdown-toggle border-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v text-gray text-lg"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right p-1" role="menu">
                                    <ul class="m-0 p-0" style="list-style-type: none;">
                                        <li>
                                            <a role="button" id="btnAddEdit" data-remote="false" class="btn btn-light text-left w-100 border-0" data-backdrop="static"
                                               onclick="AddEditCurrDataCM_moMPC(@Model.oChurchBodyId, @Model.oChurchMemberId, @item.oMemberRegistration.Id, -1, @strDesc, 15, 0, -1)">
                                                <span><i class="fa fa-eye" style="width:20px"></i></span><span class="text-md-left ml-1"> View </span>
                                            </a>
                                        </li>

                                        @if (item.oChurchBodyId == Model.oChurchBodyId_Logged)
                                        {
                                            <li>
                                                <a role="button" id="btnAddEdit" data-remote="false" class="btn btn-light text-left w-100 border-0" data-backdrop="static"
                                                   onclick="AddEditCurrDataCM_moMPC(@Model.oChurchBodyId, @Model.oChurchMemberId, @item.oMemberRegistration.Id, -1, @strDesc, 15, 0, 2)">
                                                    <span><i class="fa fa-edit" style="width:20px"></i></span><span class="text-md-left ml-1"> Edit </span>
                                                </a>
                                            </li>
                                            @if (item.isUserRoleAdmin_Logged ||
                                                (item.oChurchBodyId == Model.oChurchBodyId_Logged && item.oMemberRegistration.CreatedByUserId == Model.oUserId_Logged))
                                            {
                                                <li>
                                                    <a role="button" class="btn btn-light text-danger text-left w-100 border-0"
                                                       onclick="DeleteCurrDataCM_moMPC(@item.oChurchBodyId, @item.oChurchMemberId, false, '')">
                                                        <span><i class="fa fa-trash" style="width:20px"></i></span><span class="text-md-left ml-1" style="color:#000"> Delete </span>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

}
else
{
    <div id="divModalContainer" class="jumbotron-fluid shadow-none form-group justify-content-center p-3" style="width: 90%; margin: 0 auto 0 auto ; padding: 0;  ">
        <form needs-validation bg-transparent p-2" novalidate id="currFormCM_MRR" method="post" enctype="multipart/form-data" asp-action="AddModCM_MRR" class=" form-group bg-transparent">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (Model.oMemberRegistration != null)
            {
                <input type="hidden" asp-for="oAppGloOwnId" />
                <input type="hidden" asp-for="oChurchBodyId" />
                <input type="hidden" asp-for="oChurchMemberId" />

                <input type="hidden" asp-for="oMemberRegistration.Id" />
                <input type="hidden" asp-for="oMemberRegistration.ChurchBodyId" id="_ChurchBodyId" />
                <input type="hidden" asp-for="oMemberRegistration.AppGlobalOwnerId" id="_AppGlobalOwnerId" />
                <input type="hidden" asp-for="oMemberRegistration.ChurchMemberId" />

                <input type="hidden" asp-for="strChurchBody" id="_strChurchBody" />

                <input type="hidden" asp-for="oMemberRegistration.Created" />
                <input type="hidden" asp-for="oMemberRegistration.LastMod" />
                <input type="hidden" asp-for="oMemberRegistration.CreatedByUserId" />
                <input type="hidden" asp-for="oMemberRegistration.LastModByUserId" />


                <input type="hidden" asp-for="setIndex" id="_setIndex_MPC" />
                <input type="hidden" asp-for="setIndex" id="_setIndex_MPC1" />
                <input type="hidden" asp-for="setIndex" id="_setIndex_MPC_MRR" />

                <input type="hidden" asp-for="taskIndex" id="_taskIndex_MPC" />



                <div class="form-row mb-3">
                    <small asp-for="strRegStatus" class="control-label"> Registration Status </small>
                    @*<input type="text" class="form-control text-sm" asp-for="strRegStatus" readonly>*@

                    @if (Model.strRegStatus.StartsWith("R"))
                    {
                        <input type="text" class="form-control text-sm bg-success" asp-for="strRegStatus" readonly>
                    }
                    else 
                    {
                        <input type="text" class="form-control text-sm bg-secondary" asp-for="strRegStatus" readonly>
                    }
                </div>

                <hr class="cus-div" style="width:100%; border: 1px inset whitesmoke;" />
                <br />

                <div class="form-row mb-3">
                    <div class="col-md">
                        <small asp-for="oMemberRegistration.ChurchPeriodId" class="control-label"> Church Period </small>
                        <select class="form-control text-sm" asp-for="oMemberRegistration.ChurchPeriodId" asp-items="Model.lkpAccountPeriods">
                            <option value="" selected disabled> Church Period </option>
                        </select>
                    </div>

                    @*<div>
                        <small asp-for="oMemberRegistration.ChurchYear" class="control-label"> Church Year </small>
                        <input type="text" class="form-control text-sm" asp-for="strRegYear" readonly>
                    </div>*@
                </div>

                @if (Model.oMemberRegistration.Id > 0)
                {
                    <div class="form-row mb-3">
                        <div class="col-md">
                            <small asp-for="strChurchYearFrom" class="control-label"> Year From </small>
                            <input type="text" class="form-control text-sm" asp-for="strChurchYearFrom" readonly>
                        </div>
                        <div class="col-md">
                            <small asp-for="strChurchYearTo" class="control-label"> Year To </small>
                            <input type="text" class="form-control text-sm" asp-for="strChurchYearTo" readonly>
                        </div>
                    </div>
                }

                <div class="form-row mb-3">
                    <div class="col-md-6">
                        <small asp-for="oMemberRegistration.RegistrationDate" class="control-label"> Registration Date </small>
                        <input type="text" class="form-control text-sm" asp-for="oMemberRegistration.RegistrationDate" readonly>
                    </div>
                    <div class="col-md">
                        <small asp-for="strChurchYearFrom" class="control-label "> Registration Code </small>
                        <input type="text" class="form-control text-md text-center" asp-for="oMemberRegistration.RegCode" readonly>
                    </div>
                </div>

                <br />
                <hr class="cus-div" style="width:100%; border: 1px solid #808080;" />

                @if (Model.oChurchBody?.OrgType == "CN" && Model.oMemberRegistration.ChurchBodyId == Model.oChurchBodyId_Logged)
                {
                    <div class="form-row mb-3 mt-3">
                        <div class="col-md-3">
                            <small class="font-weight-normal" asp-for="strOwnedByStatus"> Scope </small>
                            <input type="text" class="form-control text-xs" asp-for="strOwnStatus" placeholder="Scope" readonly>
                            <input type="hidden" asp-for="oMemberRegistration.ChurchBodyId" />
                        </div>
                        <div class="col-md">
                            <small class="font-weight-normal" asp-for="oMemberRegistration.SharingStatus"> Sharing Status </small>
                            <select id="_CountryId" class="form-control text-xs" asp-for="oMemberRegistration.SharingStatus" asp-items="Model.lkpSharingStatuses_Any" aria-describedby="fd_SharingStatus" required>
                                <option selected disabled value=""> Select scope </option>
                            </select>
                            <div class="invalid-feedback" id="fd_SharingStatus"> Select sharing status </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-row mb-3 mt-3">
                        <div class="col-md-3">
                            <small class="font-weight-normal" asp-for="strOwnershipStatus"> Scope </small>
                            <input type="text" class="form-control text-xs" asp-for="strOwnStatus" placeholder="Scope" readonly>
                            <input type="hidden" asp-for="oMemberRegistration.SharingStatus" />
                        </div>
                        <div class="col-md">
                            @{ var strOwnCB = "Owned by " + (!string.IsNullOrEmpty(Model.strOwnedByCBLevel) ? "(" + Model.strOwnedByCBLevel + ")" : "");}
                            <small class="font-weight-normal" asp-for="strOwnedByChurchBody"> @strOwnCB </small>
                            <input type="text" class="form-control text-xs" asp-for="strOwnedByCB" placeholder="Owned by" readonly>
                            <input type="hidden" asp-for="oMemberRegistration.ChurchBodyId" />
                        </div>
                    </div>
                }

            }

        </form>
    </div>
}