@model RhemaCMS.Models.ViewModels.vm_cl.MemberProfessionBrandModel

@if (Model.taskIndex == 0)
{
    <table id="tabDataCM_MPB" class="table table-bordered table-striped text-sm">
        <thead>
            <tr>
                <th style="vertical-align: middle"> Profession /Brand  </th> 
                <th width="150px" style="vertical-align: middle"> Date </th>
                @*<th width="100px" style="vertical-align: middle"> Until </th>*@ 
                <th class="justify-content-center" style="vertical-align: middle; text-align: center; width: 50px ">
                    <button type="button" class="btn btn-default w-100 h-100 border-0" onclick="AddEditCurrDataCM_MPC(@Model.oChurchBodyId, @Model.oChurchMemberId, -1, 7, 0, true)">
                        <i class="fa fa-refresh fa-secondary"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.lsMemberProfessionBrandModels)
            {
                if (item.oMemberProfessionBrand != null)
                {
                    <tr>
                        <td style="vertical-align: middle">
                            @item.strProfessionBrand

                            @if (!string.IsNullOrEmpty(item.strStatus))
                            {
                            <small class="badge badge-primary text-center">
                                <i class="far fa-flag-usa fa-sm ml-1"></i> @item.strStatus
                            </small>
                            }
                        </td>
                        <td style="vertical-align: middle">
                            @item.strDateDesc
                        </td>
                        @*<td style="vertical-align: middle">
                            @item.strToDate
                        </td>*@ 
                        <td class="p-1" style="vertical-align: middle; text-align:center ">
                            @{ var strDesc = '"' + @item.strProfessionBrand +  '"'; }
                            <div class="btn-group ">
                                <button type="button" class="btn btn-outline-light btn-sm dropdown-toggle border-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v text-gray text-lg"></i>
                                </button>
                                <div class="dropdown-menu  dropdown-menu-right p-1" role="menu">
                                    <ul class="m-0 p-0" style="list-style-type: none;">
                                        <li>
                                            <a role="button" id="btnAddEdit" data-remote="false" class="btn btn-light text-left w-100 border-0" data-backdrop="static"
                                               onclick="AddEditCurrDataCM_moMPC(@Model.oChurchBodyId, @Model.oChurchMemberId, @item.oMemberProfessionBrand.Id, -1, @strDesc, 7, 0, -1)">
                                                <span><i class="fa fa-eye" style="width:20px"></i></span><span class="text-md-left ml-1"> View </span>
                                            </a>
                                        </li>

                                        @if (item.oChurchBodyId == Model.oChurchBodyId_Logged)
                                        {
                                            <li>
                                                <a role="button" id="btnAddEdit" data-remote="false" class="btn btn-light text-left w-100 border-0" data-backdrop="static"
                                                   onclick="AddEditCurrDataCM_moMPC(@Model.oChurchBodyId, @Model.oChurchMemberId, @item.oMemberProfessionBrand.Id, -1, @strDesc, 7, 0, 2)">
                                                    <span><i class="fa fa-edit" style="width:20px"></i></span><span class="text-md-left ml-1"> Edit </span>
                                                </a>
                                            </li>
                                            @if (item.isUserRoleAdmin_Logged ||
                                               (item.oChurchBodyId == Model.oChurchBodyId_Logged && item.oMemberProfessionBrand.CreatedByUserId == Model.oUserId_Logged))
                                            {
                                                <li>
                                                    <a role="button" class="btn btn-light text-danger text-left w-100 border-0"
                                                       onclick="DeleteCurrDataCM_moMPC(@item.oChurchBodyId, @item.oChurchMemberId, false, '')">
                                                        <span><i class="fa fa-trash" style="width:20px"></i></span><span class="text-md-left ml-1" style="color:#000"> Delete </span>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

}
else
{
    <div id="divModalContainer" class="jumbotron-fluid shadow-none form-group justify-content-center p-3" style="width: 90%; margin: 0 auto 0 auto ; padding: 0;  ">
        <form needs-validation bg-transparent p-2" novalidate id="currFormCM_MPB" method="post" enctype="multipart/form-data" asp-action="AddModCM_MPB" class=" form-group bg-transparent">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (Model.oMemberProfessionBrand != null)
            {
                <input type="hidden" asp-for="oAppGloOwnId" />
                <input type="hidden" asp-for="oChurchBodyId" />
                <input type="hidden" asp-for="oChurchMemberId" />

                <input type="hidden" asp-for="oMemberProfessionBrand.Id" />
                <input type="hidden" asp-for="oMemberProfessionBrand.ChurchBodyId" id="_ChurchBodyId" />
                <input type="hidden" asp-for="oMemberProfessionBrand.AppGlobalOwnerId" id="_AppGlobalOwnerId" />
                <input type="hidden" asp-for="oMemberProfessionBrand.ChurchMemberId" />

                <input type="hidden" asp-for="strChurchBody" id="_strChurchBody" />

                <input type="hidden" asp-for="oMemberProfessionBrand.Created" />
                <input type="hidden" asp-for="oMemberProfessionBrand.LastMod" />
                <input type="hidden" asp-for="oMemberProfessionBrand.CreatedByUserId" />
                <input type="hidden" asp-for="oMemberProfessionBrand.LastModByUserId" />

                <input type="hidden" asp-for="setIndex" id="_setIndex_MPC" />
                <input type="hidden" asp-for="setIndex" id="_setIndex_MPC1" />
                <input type="hidden" asp-for="setIndex" id="_setIndex_MPC_MPB" />

                <input type="hidden" asp-for="taskIndex" id="_taskIndex_MPC" /> 
                 



                <div class="form-row mb-3">
                    <div class="col-md">
                        <small asp-for="oMemberProfessionBrand.Profession" class="control-label"> Brand Name or Profession </small>
                        <input type="text" class="form-control text-sm" asp-for="oMemberProfessionBrand.Profession">
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-md pt-1" id="_divIsActivePractice">
                        <small asp-for="oMemberProfessionBrand.IsCompleted" class="control-label">&nbsp;</small>
                        <label class="chk_container">
                            <span class="text-sm font-weight-normal"> Active Practice  </span>
                            <input id="chk_IsActivePractice_moMPB" type="checkbox" asp-for="oMemberProfessionBrand.IsActivePractice" />
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-md">
                        <small asp-for="oMemberProfessionBrand.FromDate" class="control-label"> Started </small>
                        <input id="_FromDate_moMPB" type="date" class="form-control text-sm" asp-for="oMemberProfessionBrand.FromDate">
                    </div>
                    <div class="col-md" id="_divToDate_moMPB">
                        <small asp-for="oMemberProfessionBrand.ToDate" class="control-label"> Completed </small>
                        <input type="date" class="form-control text-sm" asp-for="oMemberProfessionBrand.ToDate">
                    </div>
                </div>

                <div class="form-row mb-3">
                    <div class="col-md">
                        <small class="font-weight-normal" asp-for="oMemberProfessionBrand.BrandProfile"> Brand Profile </small>
                        <textarea maxlength="300" asp-for="oMemberProfessionBrand.BrandProfile" class="form-control text-sm" rows="3"></textarea>
                    </div>
                </div>


            }

        </form>
    </div>
}